{% extends "base_www.html" %}
{% load bootstrap3 i18n %}

{% block title %}Pomozte nám uchovat český web{% endblock title %}


{% block content %}

	{% include "nominate/header.html" %}

	<section>
		<div class="container">
			<h2>Smlouva</h2>
			<p>Zde se můžete podívat na návrh smlouvy: <a href="{{ STATIC_URL }}www/download/licencni-smlouva-webarchiv.docx">SmlouvaWebarchiv.doc</a>.</p>

			<h3>Jak postupovat při podepisování smlouvy?</h3>
			<ul class="normal">
			<li>Nejprve je nutné stáhnout si smlouvu a doplnit osobní údaje a URL stránky.</li>
			<li>Poté vytisknout 4 exempláře a zaslat je podepsané na naši adresu (Národní knihovna ČR, Oddělení archivace webu, Klementinum 190, Praha 1).</li>
			<li>Po podpisu smlouvy z naší strany zašleme jeden exemplář obratem zpět i s dalšími informacemi o samotné archivaci.</li>
			</ul>

			<h3>Proč je nutné podepisovat papírovou smlouvu?</h3>
			<p>Z důvodu současné podoby autorského zákona je nutné, aby byl Váš souhlas s archivací stránek právně ošetřený. Proto požadujeme zaslání podepsané papírové smlouvy.</p>

			<h2>Creative Commons</h2>
			<p><strong>Zvážili jste před podpisem smlouvy licenci Creative Commons?</strong></p>
			<ul class="normal">
				<li>Využitím licence Creative Commons si ušetříte papírování.</li>
				<li>Zařadíte se do celosvětové komunity lidí, která podporuje sdílení lidských znalostí a překonává překážky v jejich šíření.</li>
				<li>Použít licenci Creative Commons je jednoduché a bezpečné.</li>
				<li>Více informací o licenci <a href="{% url 'www:nominate_creative_commons' %}">Creative Commons</a>.</li>
			</ul>

			<h2>Pomozte nám uchovat český web</h2>
			<p>Webarchiv Národní knihovny ČR se snaží archivovat a následně zpřístupňovat české elektronické online zdroje. Ve webovém archivu jsou uchovávány webové stránky získané v rámci celoplošných sklizní.</p>
			<p>Podle platné české legislativy nemáme možnost poskytovat k obsahu archivu webu volný přístup. Uživatelé se mohou dostat ke všem datům ve Webarchivu pouze přes terminál umístěný v Národní knihovně.</p>
			<p>Jedinou možností jak zpřístupnit obsah pro uživatele online je využití CC licence, případně uzavření licenční smlouvy.</p>

			<h2>Co získáte spoluprací s námi?</h2>
			<ul class="normal">
				<li>Vaše webové stránky budou <strong>trvale uchovány pro budoucnost a stanou se tak součástí národního kulturního dědictví</strong>, o které pečuje Národní knihovna ČR.</li>
				<li>Váš zdroj bude <strong>zkatalogizován</strong> stejným způsobem jako např. knižní publikace a bude zařazen do České národní bibliografie a do <a href="http://aleph.nkp.cz/F/?func=file&file_name=find-a&local_base=web" target="_blank">online katalogu Národní knihovny</a>.</li>
				<li>Na své stránky si můžete umístit náš <strong><a href="{plink graphics}">certifikát</a> „Stránky archivovány Národní knihovnou ČR“</strong>.</li>
			</ul>
		</div>
	</section>

{% endblock %}
