{% extends "base_www.html" %}
{% load bootstrap3 i18n %}

{% block title %}{% if lang == "cs" %}Nechte se Webarchivovat!{% else %}Let’s get Webarchived!{% endif %}{% endblock title %}


{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}

	{% include "nominate/header.html" %}

	<section id="add-web">
		<div class="container">
			{% if lang == "cs" %} <h2>Přidejte web</h2> {% else %} <h2>Nominate a website</h2> {% endif %}
            <form class=""  action="{% url 'www:nominate' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

				<div class="row">
					<div class="col-sm-2 col-md-3 no-right-padding">
						<span class="form-label">{{ form.url.label }}</span>
					</div>
					<div class="col-sm-8 col-md-6">
						{{ form.url }}
						{{ form.url.errors }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 offset-sm-2 offset-md-3">
						<div class="row">
							<div class="col-md-6 checkbox-wrapper">
								<span class="false-checkbox"></span>
								{{ form.submitted_by_author }}
								<span class="false-label">{% trans 'Mohu jednat za uvedené zdroje' %}</span>
							</div>
							<div class="col-md-6 checkbox-wrapper no-left-padding">
								<span class="false-checkbox"></span>
								{{ form.is_cc }}
								<span class="false-label">{% trans 'Zdroj s licencí Creative Commons' %}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 col-md-3 no-right-padding">
						<span class="form-label">{{ form.name.label }}</span>
					</div>
					<div class="col-sm-8 col-md-6">
						{{ form.name }}
						{{ form.name.errors }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 col-md-3 no-right-padding">
						<span class="form-label">{{ form.contact_email.label }}</span>
					</div>
					<div class="col-sm-8 col-md-6">
						{{ form.contact_email.errors }}
						{{ form.contact_email }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 col-md-3 no-right-padding">
						<span class="form-label">{{ form.note.label }}</span>
					</div>
					<div class="col-sm-8 col-md-6">
						{{ form.note }}
					</div>
				</div>
				<div class="row" style="margin-bottom: 1em;">
					<div class="col-sm-2 col-md-3 no-right-padding">
						<span class="form-label">{% trans 'Are you a human?' %}</span>
					</div>
					<div class="col-sm-8 col-md-6">
						{{ form.captcha }}
						{{ form.captcha.errors }}
					</div>
				</div>

                {% if form.non_field_errors %}
                    <div class="row">
                        {{ form.non_field_errors }}

                    </div>
                {% endif %}
				<div class="row">
					<div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3">
						<input type="submit" name="_submit" class="submit" value="Přidat web">
					</div>
				</div>
            </form>

			<br><br>

			{% if lang == "cs" %}
			<p>Vítáme Vaše návrhy nových webových stránek pro archivaci. Zařazení webových stránek do režimu výběrového sklízení má však svá <a href="{% url 'www:nominate_source_selection' %}">kritéria</a>. Předně dokument musí splňovat jednu z následujících podmínek:</p>

			<ul class="normal">
				<li>byl vydán na území České republiky</li>
				<li>je napsán v češtině</li>
				<li>autor je původem z Česka</li>
				<li>obsah se týká České republiky</li>
			</ul>

			<p>Jsou vybírány především materiály významné kulturní či vědecké hodnoty, které vznikají jako původní digitální díla (tzn. nemají souběžnou tištěnou podobu).</p>

			<h2>Preferované webové dokumenty:</h2>
			<p>online časopisy, monografie, konferenční materiály, výzkumné zprávy, akademické práce, vládní dokumenty, blogy s kulturním či vědeckým zaměřením</p>

			<h2>Do výběrových sklizní nespadají:</h2>
			<p>počítačové hry (aplikace), internetové obchody, firemní weby, nabídkové katalogy, intranety, osobní weblogy (bez vědecké či kulturní hodnoty), portály shromažďující obsah z jiných zdrojů, rozhlasové a televizní vysílání, atd. (tyto zdroje ale mohou být archivovány v rámci celoplošných sklizní)</p>
			<p>Vyhrazujeme si právo Váš návrh kdykoliv odmítnout. Pokud již používáte licenci <a href="{% url 'www:nominate_creative_commons' %}">Creative Commons</a>, obdržíte od nás jen informativní zprávu o výsledku hodnocení.</p>

			{% else %}

			<p>Dear visitors, we welcome your recommendations of new websites for archiving. Nevertheless, we must include only websites that meet specific <a href="{% url 'www:nominate_source_selection' %}">criteria</a>. The document must meet at least one of the following conditions:</p>

			<ul class="normal">
				<li>It was published in the Czech Republic</li>
				<li>It is written in Czech language</li>
				<li>The author is of Czech nationality</li>
				<li>Content refers to the Czech Republic or the Czech nation</li>
			</ul>

			<p>Primarily we are selecting materials that have a significant cultural and scientific value. What is more, they have been recognized as the original digital work that has never been available in printed version. </p>

			<h2>Preferred Web documents:</h2>
			<p>Online magazines, Monographs, Conference papers, Research reports, Academic papers, Governmental documents and Cultural or Scientific blogs</p>

			<h2>Web documents that will not be included into the specific collection:</h2>
			<p>Computer games (applications), online stores, corporate sites, offering catalogues, intranets, personal weblogs (without scientific and cultural values), portals that collects content from other sources, Radio and Television Broadcasting, etc. (Never less, these resources can be archive as a part of the nationwide  collection)</p>
			<p>We reserve the right to reject your suggested website. Wait for our respond, we´ll inform you. If you are using a <a href="{% url 'www:nominate_creative_commons' %}">Creative Commons license</a>, you will receive only an informative report that will notify you about the result of our evaluation.</p>

			{% endif %}
		</div>
	</section>

{% endblock %}
