{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% trans 'Search' %}
{% endblock %}

{% block page_header %}
    {% trans 'Search' %}
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}
    <form class="" method="get">
        {% bootstrap_form form layout='inline' %}
        <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Send' %}" />
    </form>

    {% if query %}
        <h3>{% trans 'Results' %}</h3>
        {% if page.object_list %}
            <div class="list-group">
                {% for result in page.object_list %}
                    <a class="list-group-item" href="{{ result.object.get_absolute_url }}">{{ result.object}}</a>
                {% endfor %}
            </div>
        {% else %}
            <p>{% trans 'Nothing found' %}</p>
        {% endif %}

        {% if page.has_previous or page.has_next %}
            <nav>
                <ul class="pager">
                    {% if page.has_previous %}
                        <li class="previous"><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}"><span aria-hidden="true">&larr;</span>{% trans 'Previous' %}</a></li>
                    {% endif %}

                    {% if page.has_next %}
                        <li class="next"><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% trans 'Next' %} <span aria-hidden="true">&rarr;</span></a></li>
                    {% endif %}
                  </ul>
            </nav>
        {% endif %}
    {% else %}
    {% endif %}
{% endblock %}

{% block extrajs %}
    <script>
        $('#search').addClass('active');
    </script>
{% endblock %}