{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <p>
        {% blocktrans %}
            Below you can find links to files that contains seeds from sources
            that have been accepted.
            Each file also contains date of the file creation. Files are automatically
            generated every day, but you can also manually start the process.
        {% endblocktrans %}
    </p>

    <ul class="list-group">
        {% for export in latest_exports %}
            <a href="{{ export.export_file.url }}" class="list-group-item" target="_blank">
                {% trans 'Frequency' %}: {{ export.get_frequency_display }}, {% trans 'created' %} {{ export.created }}
            </a>
        {% endfor %}
    </ul>

    
    
    
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="{% trans 'Reload files' %}"/>
    </form>



{% endblock %}

