{% load bootstrap3 i18n raven %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" data-date-format="{{ js_format }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>{% block title %}{{ view.title }}{% endblock %} | {% trans 'Seeder' %}</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}main.css" rel="stylesheet">
    {% block extrahead %}{% endblock %}

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{% trans 'Seeder' %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans 'Languages' %}<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <li><a href="{% url 'core:change_language' code=language.code %}">{{ language.name_local }}</a></li>
                    {% endfor %}
                  </ul>
                </li>

                <li>
                    <a href="{% url 'core:user_edit' %}">{% trans 'Profile' %}</a>
                </li>
                <li>
                    <a href="{% url 'password_change' %}">{% trans 'Change password' %}</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="dashboard">
                    <a href="/" >{% trans 'Dashboard' %}</a>
                </li>
                <li id="add_source">
                    <a href="{% url 'source:add' %}">{% trans 'Add source' %}</a>
                </li>
                <li id="sources">
                    <a href="{% url 'source:list' %}">{% trans 'Sources' %}</a>
                </li>
                <li id="harvests">
                    <a href="{% url 'harvests:calendar' %}">{% trans 'Harvests' %}</a>
                </li>
                <li id="publishers">
                    <a href="{% url 'publishers:list' %}">{% trans 'Publishers' %}</a>
                </li>
                <li id="publisher_add">
                    <a href="{% url 'publishers:add' %}">{% trans 'Add publisher' %}</a>
                </li>
                <li id="contracts">
                    <a href="{% url 'contracts:list' %}">{% trans 'Contracts' %}</a>
                </li>
                <li id="blacklists">
                    <a href="{% url 'blacklists:list' %}">{% trans 'Blacklists' %}</a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="https://github.com/WebArchivCZ/Seeder">Github</a></li>
                <li><a href="https://github.com/WebArchivCZ/Seeder/issues/new">{% trans 'Bug report' %}</a></li>
                <li><a href="https://seeder.readthedocs.org/en/latest/">{% trans 'Read the docs' %}</a></li>
            </ul>
        </div>
        {% block content_raw %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">{% block page_header %}{{ view.title }}{% endblock %} {% block extra_header %}{% endblock %}</h1>
                {% bootstrap_messages %}

                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
</div>

{% block extrajs %}
{% endblock %}

<script src="https://cdn.ravenjs.com/2.1.0/raven.min.js"></script>
<script>Raven.config('{% sentry_public_dsn %}').install()</script>

<script>
    // dynamically activate menu link, yes this seem like a barbaric think to do, but think of all the if conditions in django that does not need to exist!
    var view_name = "#{{ view.view_name }}";
    $(view_name).addClass('active');
</script>

</body>
</html>