{% load bootstrap3 i18n raven core static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" data-date-format="{{ js_format }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'seeder-assets/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'seeder-assets/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'seeder-assets/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'seeder-assets/site.webmanifest' %}">
    <link rel="shortcut icon" href="{% static 'seeder-assets/favicon.ico' %}">

    <title>{% block title %}{{ view.title }}{% endblock %} | {% trans 'Seeder' %}</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- Custom styles and scritps for this template -->
    <link href="{{ STATIC_URL }}main.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}main.js"></script>
    {% block extrahead %}{% endblock %}

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'core:dashboard' %}">{% trans 'Seeder' %}</a>
            <span class="navbar-brand" style="color:#777;font-size:1em;">{% version %} ({% version_datetime %})</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" action="{% url 'search:search' %}" method="get">
                <input type="text" class="form-control" placeholder="{% trans 'Search' %}" name="q">
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans 'Languages' %}<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <li><a href="{% url 'core:change_language' code=language.code %}">{{ language.name_local }}</a></li>
                    {% endfor %}
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user }}<span class="caret"></span></a>


                  <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="{% url 'core:user_edit' %}">{% trans 'Profile' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'password_change' %}">{% trans 'Change password' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                    </li>
                  </ul>
                </li>



            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="dashboard">
                    <a href="{% url 'core:dashboard' %}" >{% trans 'Dashboard' %}</a>
                </li>
                <li id="search">
                    <a href="{% url 'search:search' %}">{% trans 'Search' %}</a>
                </li>
                <li id="sources">
                    <a href="{% url 'source:list' %}">{% trans 'Sources' %}</a>
                </li>
                <li id="publishers">
                    <a href="{% url 'publishers:list' %}">{% trans 'Publishers' %}</a>
                </li>
                <li id="contracts">
                    <a href="{% url 'contracts:list' %}">{% trans 'Contracts' %}</a>
                </li>
                
                <li id="qa">
                    <a href="{% url 'qa:list' %}">{% trans 'Quality assurance' %}</a>
                </li>

                <hr>

                <li id="external_topic_collections">
                    <a href="{% url 'harvests:external_collection_list' %}">{% trans 'External Topic Collections' %}</a>
                </li>
                <li id="internal_topic_collections">
                    <a href="{% url 'harvests:internal_collection_list' %}">{% trans 'Internal Topic Collections' %}</a>
                </li>
                <li id="news">
                    <a href="{% url 'news:list' %}">{% trans 'News' %}</a>
                </li>

                <hr>

                <li id="harvests">
                    <a href="{% url 'harvests:calendar' %}">{% trans 'Harvests' %}</a>
                </li>
                {% user_in_group user "tech" as tech_user %}
                {% if user.is_superuser or tech_user %}
                <li id="harvest_configurations">
                    <a href="{% url 'harvests:harvest_config_list' %}">{% trans 'Harvest Configurations' %}</a>
                </li>
                {% endif %}
                <li><a href="{% url 'source:dump' %}" target="_blank">{% trans 'Seed DB dump' %}</a></li>
                <li id="blacklists">
                    <a href="{% url 'blacklists:list' %}">{% trans 'Blacklists' %}</a>
                </li>

                <hr>

                <li id="searchlog">
                    <a href="{% url 'search:list' %}">{% trans 'Search logs' %}</a>
                </li>
                {% if user.is_superuser %}
                <li id="json_constants">
                    <a href="{% url 'core:json_constants' %}">{% trans 'Constants' %}</a>
                </li>
                {% endif %}

                <hr>

                <li><a href="https://github.com/WebArchivCZ/Seeder">Github</a></li>
                <li><a href="https://github.com/WebArchivCZ/Seeder/issues/new">{% trans 'Bug report' %}</a></li>
                <li><a href="https://seeder.readthedocs.org/en/latest/">{% trans 'Read the docs' %}</a></li>
                <li id="harvest_catalogue"><a href="{% url 'harvests:catalogue' %}">{% trans 'Harvests urls' %}</a></li>


            </ul>

        </div>
        {% block content_raw %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">{% block page_header %}{{ view.title }}{% endblock %} {% block extra_header %}{% endblock %}</h1>
                {% bootstrap_messages %}

                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
</div>

{% block extrajs %}
{% endblock %}

<script src="https://cdn.ravenjs.com/2.1.0/raven.min.js"></script>
<script>Raven.config('{% sentry_public_dsn %}').install()</script>

<script>
    // dynamically activate menu link, yes this seem like a barbaric think to do, but think of all the if conditions in django that does not need to exist!
    var view_name = "#{{ view.view_name }}";
    $(view_name).addClass('active');
</script>

</body>
</html>