{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% for card in cards %}
        {% if not card.empty %}
            <div class="col-md-3 col-sm-3 col-l-3">
                <h4>{{ card.title }}</h4>
                <ul class="list-group">
                    {% for element in card.elements %}
                        <a href="{{ element.instance.get_absolute_url }}" target="_blank" class="list-group-item list-group-item-{{ element.color }}">
                            {{ element.instance }}
                            <span class="badge">{{ element.badge }}</span>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    {% endfor %}
{% endblock %}