{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block content_raw %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">{% block page_header %}{{ view.title }}{% endblock %}
        <button class="btn btn-primary btn-{{ filter_active|yesno:'danger,success' }} pull-right" type="button" data-toggle="collapse" data-target="#filter-collapse" aria-controls="filter-collapse">
          {% trans 'Toggle filters' %}
        </button>
        </h1>
        <div class="collapse" id="filter-collapse">
          <div class="well">
            <form method="get" class="form">
                {% bootstrap_form filter.form %}
                <input class="btn btn-primary btn-block" type="submit"/>
            </form>
          </div>
        </div>
        {% render_table table 'bootstrap_table.html' %}
    </div>
{% endblock %}