{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}{% trans 'History of' %} {{ object}}{% endblock %}
{% block page_header %}{% trans 'History of' %}  <a href="{{ object.get_absolute_url }}">{{ object }}</a> {% endblock %}

{% block content %}
    {% for diff in diffs %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ diff.user.get_full_name }} <span class="pull-right">{{ diff.date|naturaltime }}</span>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>{% trans 'Field' %}</th>
                            <th>{% trans 'Original value' %}</th>
                            <th>{% trans 'New value' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for field, values in diff.fields_changed.items %}
                        <tr>
                            <td>{{ field }}</td>
                            <td>{{ values.original }}</td>
                            <td>{{ values.changed }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}
