version: "3"
services:
  web:
    build:
      context: .
    ports:
     - "80:8000"
    volumes:
     - .:/code
    command: bash run.sh
    working_dir: /code/Seeder
    environment:
      DEBUG: 'True'
      THUMBNAIL_DEBUG: 'True'
      DJANGO_SETTINGS_MODULE: settings.env
    depends_on:
      - postgres
      - manet
      - memcached

  postgres:
    image: postgres:12

  memcached:
    image: memcached:latest

  manet:
    image: bobey/manet:latest
