odictliteral==1.0.0
django==1.10.4
Pillow==3.2.0
sorl-thumbnail==12.4a1
psycopg2==2.6.1
djangorestframework==3.3.3
Sphinx==1.4.4
django-bower==5.1.0
django-tables2==1.2.2
django-filter==0.13.0
django-bootstrap3==7.0.1
django-fsm==2.4.0
django-mptt==0.8.4
django-formtools==1.0
django-reversion==2.0.5
PyMySQL==0.7.4
django-ckeditor==5.0.3
transifex-client==0.12.1
django-debug-toolbar==1.4
tld==0.7.6
django-autocomplete-light==3.1.5
django_crontab==0.7.1
urljects==1.1.0
dateutils==0.6.6
raven==5.21.0
requests==2.10.0
git+https://github.com/django-haystack/django-haystack.git#e7e83ad529d9701c2b262dbaf4a8360738654fcd
elasticsearch==2.3.0
python-memcached==1.58
elasticstack==0.4.1
