odictliteral==1.0.0
django==1.10.4
Pillow==3.2.0
sorl-thumbnail==12.4a1
psycopg2==2.6.1
djangorestframework==3.3.3
Sphinx==1.4.4
django-bower==5.1.0
django-tables2==1.2.2
django-filter==0.13.0
django-bootstrap3==7.1.0
django-fsm==2.4.0
django-mptt==0.8.7
django-formtools==1.0
django-reversion==2.0.5
PyMySQL==0.7.4
django-ckeditor==5.0.3
transifex-client==0.12.4
django-debug-toolbar==1.4
tld==0.7.6
django-autocomplete-light==3.2.1
django_crontab==0.7.1
urljects==1.11
dateutils==0.6.6
raven==5.32.0
requests==2.10.0
django-haystack==2.6.0
elasticsearch==2.3.0
python-memcached==1.58
elasticstack==0.5.0
django-modeltranslation==0.12
django-autoslug==1.9.3
django-multiupload==0.5.2
unidecode
django-recaptcha