odictliteral
django==1.8.2
pillow
sorl-thumbnail
psycopg2
djangorestframework
sphinx==1.3
django-bower
django-tables2
django_filter
django-bootstrap3
django-fsm
django-mptt
fabric
django-formtools
django-reversion
mysql-python
django-ckeditor
transifex-client
django-debug-toolbar
tld
django-autocomplete-light>=2.0.0a1