{% extends "base_www.html" %}

{% block title %}{% if lang == "cs" %}Kontakty{% else %}Contacts{% endif %}{% endblock title %}



{% block content %}

	{% include "about/menu.html" %}

	<section>
		<div class="container">

			{% if lang == "cs" %}

				<h2>Kontakty</h2>
				<p>
					Oddělení Webarchivu<br>
					Národní knihovna ČR<br>
					Mariánské náměstí 190/5<br>
					110 00 Praha 1<br><br>
					tel.: 221 663 256, 221 663 544<br><br>
					e-mail: webarchiv[@]nkp.cz
					<br><br>
					Neomezený přístup k webovému archivu je možný pouze z <a href="https://www.nkp.cz/sluzby/dulezite-odkazy/studovny/refc">Referenčního centra</a> Národní knihovny ČR.
				</p>

			{% else %}

				<h2>Contacts</h2>
				<p>
					Webarchive Department<br>
					National Library of the Czech Republic<br>
					Mariánské náměstí 190/5<br>
					110 00 Praha 1<br><br>
					tel: 221 663 256<br><br>
					e-mail: webarchiv[@]nkp.cz
				</p>
				<br><br>
				Unlimited access to the web archive is possible only in the <a href="http://www.en.nkp.cz/services/links/reading-rooms/refc-en">Reference Centre</a>.

			{% endif %}

		</div>
	</section>

{% endblock %}
