{% extends "base_www.html" %}

{% block title %}{% if lang == "cs" %}Dokumenty{% else %}Documents{% endif %}{% endblock title %}



{% block content %}

	{% include "about/menu.html" %}

	<section>
		<div class="container">

			{% if lang == "cs" %}

				<h2>Dokumenty</h2>

				<h3>Publikační činnost</h3>

				<ul class="normal">
					<li>KVASNICA, Jaroslav; BJAČKOVÁ, Barbora. Profilování kolekce a stanovení určené skupiny WebArchivu Národní knihovny ČR. <i>ProInflow</i> [online]. 16.12.2014. Dostupný z WWW: <a href="http://www.phil.muni.cz/journals/index.php/proinflow/article/view/942">http://www.phil.muni.cz/journals/index.php/proinflow/article/view/942</a>. ISSN 1804–2406.</li>
					<li>KVASNICA, Jaroslav; KREIBICH, Rudolf. Formátová analýza sklizených dat v rámci projektu WebArchiv NK ČR. <i>ProInflow</i> [online]. 31.10.2013. Dostupný z WWW: <a href="http://pro.inflow.cz/formatova-analyza-sklizenych-dat-v-ramci-projektu-webarchiv-nk-cr">http://pro.inflow.cz/formatova-analyza-sklizenych-dat-v-ramci-projektu-webarchiv-nk-cr</a>. ISSN 1804–2406.</li>
					<li>KVASNICA, Jaroslav. Budoucnost českého webového archivu. In: <i>INFORUM 2015: 21. ročník konference o profesionálních informačních zdrojích, Praha 26.-27. května 2015</i> [online]. Praha: Albertina icome Praha, 2015. ISSN 1801–2213. Dostupné z: <a href="http://www.inforum.cz/pdf/2015/kvasnica-jaroslav.pdf">http://www.inforum.cz/pdf/2015/kvasnica-jaroslav.pdf</a></li>
					<li>RUDIŠINOVÁ, Barbora a Jaroslav KVASNICA. Webarchiv v roce 2015. <i>ITLib</i> [online]. 2015, 2015(3): 22-25. Dostupný z <a href="http://itlib.cvtisr.sk/buxus/docs/22_Cesky%20webovy.pdf">http://itlib.cvtisr.sk/buxus/docs/22_Cesky%20webovy.pdf</a>. ISSN 1336-0779</li>
					<li>RUDIŠINOVÁ, Barbora a Markéta HRDLIČKOVÁ. Akvizice v Národní knihovně - část pátá Akvizice ve Webarchivu. <i>E-Zpravodaj Národní knihovny</i> [online]. 2015, 2(6): 7. Dostupný z <a href="http://www.nkp.cz/o-knihovne/zakladni-informace/vydane-publikace/soubory/ostatni/ez_2015_6.pdf">http://www.nkp.cz/o-knihovne/zakladni-informace/vydane-publikace/soubory/ostatni/ez_2015_6.pdf</a>.</li>
				</ul>

				<h3>Prezentace</h3>
				
				<iframe src="//www.slideshare.net/slideshow/embed_code/key/A6nf28D8K8FUPI" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
				<iframe src="//www.slideshare.net/slideshow/embed_code/key/3Vai4jamZjEp2x" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
				

				<h3>Referenční zdroje</h3>

				<ul class="normal">
					<li>Autorský zákon <a href="http://ipk.nkp.cz/legislativa/01_LegPod/autorske-pravo">http://ipk.nkp.cz/legislativa/01_LegPod/autorske-pravo</a></li>
					<li>Federation of European Publishers (CENL/FEP): International declaration on the deposit of electronic publications : Conference of European National Librarians, překlad do češtiny <a href="http://www.webarchiv.cz/files/dokumenty/reference/CENL_FEP.pdf">[PDF]</a></li>
					<li>Dublin Core Czech : soubor metadatových prvků Dublin Core, český překlad <a href="http://www.ics.muni.cz/dublin_core">http://www.ics.muni.cz/dublin_core</a></li>
					<li>Creative Commons Česká republika <a href="http://www.creativecommons.cz">http://www.creativecommons.cz</a></li>
					<li>Internet Archive <a href="http://www.archive.org">http://www.archive.org</a></li>
				</ul>

				<h3>Metodiky</h3>
				<ul class="normal">
					<li>Metodika budování sbírky Webarchivu (Collection policy) <a href="http://webarchiv.cz/download/Collection_Policy.pdf">[PDF]</a></li>
				</ul>
				
				{*<h3>Vysokoškolské práce</h3>

				<h3>Letáky, postery</h3>*}

			{% else %}

				<h2>Documents</h2>

				<h3>Publications</h3>

				<ul class="normal">
					<li>KVASNICA, Jaroslav; BJAČKOVÁ, Barbora. Profilování kolekce a stanovení určené skupiny WebArchivu Národní knihovny ČR. ProInflow [online]. 16.12.2014. Dostupný z WWW: <a href="http://www.phil.muni.cz/journals/index.php/proinflow/article/view/942">http://www.phil.muni.cz/journals/index.php/proinflow/article/view/942</a>. ISSN 1804–2406.</li>
					<li>KVASNICA, Jaroslav; KREIBICH, Rudolf. Formátová analýza sklizených dat v rámci projektu WebArchiv NK ČR. ProInflow [online]. 31.10.2013. Dostupný z WWW: <a href="http://pro.inflow.cz/formatova-analyza-sklizenych-dat-v-ramci-projektu-webarchiv-nk-cr">http://pro.inflow.cz/formatova-analyza-sklizenych-dat-v-ramci-projektu-webarchiv-nk-cr</a>. ISSN 1804–2406.</li>
				</ul>

				<h3>Presentation</h3>

				<iframe src="//www.slideshare.net/slideshow/embed_code/35563658" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>

				<h3>References</h3>

				<ul class="normal">
					<li>Autorský zákon + aktualizace 2006 <a href="http://www.nkp.cz/o_knihovnach/AutZak/Index.htm">http://www.nkp.cz/o_knihovnach/AutZak</a></li>
					<li>Federation of European Publishers (CENL/FEP): International declaration on the deposit of electronic publications : Conference of European National Librarians, překlad do češtiny <a href="http://www.webarchiv.cz/files/dokumenty/reference/CENL_FEP.pdf">[PDF]</a></li>
					<li>Dublin Core Czech : soubor metadatových prvků Dublin Core, český překlad <a href="http://www.ics.muni.cz/dublin_core">http://www.ics.muni.cz/dublin_core</a></li>
					<li>Creative Commons Česká republika <a href="http://www.creativecommons.cz">http://www.creativecommons.cz</a></li>
					<li>Internet Archive <a href="http://www.archive.org">http://www.archive.org</a></li>
				</ul>

				<h3>Methodics</h3>
				<ul class="normal">
					<li>Collection policy (czech only) <a href="http://webarchiv.cz/download/Collection_Policy.pdf">[PDF]</a></li>
				</ul>
				
				{*<h3>Thesis</h3>

				<h3>Posters</h3>*}

			{% endif %}

		</div>
	</section>

{% endblock %}
