<section>
	<div class="container">

		{% if lang == "cs" %}
			<h1><a href="{% url "www:index" %}">Webarchiv<span class="false-link-underline-blue"></span></a> uchovává český web</h1><br>
			<p>Pro první seznámení s webarchivem pokračujte <a href="{% url "www:more_about" %}">zde</a></p>
		{% else %}
			<h1><a href="{% url "www:index" %}">Webarchiv<span class="false-link-underline-blue"></span></a> preserves Czech web</h1><br>
			<p>For basic informations about Webarchiv visit our <a href="{% url "www:more_about" %}">introduction</a></p>
		{% endif %}

		<ul class="inline-list">
			{% if lang == "cs" %}
				<li><a class="url_about" href="{% url 'www:about' %}">O Webarchivu</a></li> / 
				<li><a class="url_terminology" href="url 'www:terminology' ">Terminologie</a></li> / 
				<li><a class="url_harvests" href="url 'www:harvests' ">Celoplošné sklizně</a></li> / 
				<li><a class="url_topic_collections" href="url 'www:topicCollections' ">Tématické sbírky</a></li> / 
				<li><a class="url_documents" href="url 'www:documents' ">Dokumenty</a></li> / 
				<li><a class="url_graphics" href="url 'www:graphics' ">Grafické materiály</a></li> / 
				<li><a class="url_contact" href="url 'www:contact' ">Kontakty</a></li>
			{% else %}
				<li><a class="url_about" href="{% url 'www:about' %} "></a>About Webarchiv</li> / 
				<li><a class="url_harvests" href="url 'www:harvests' "></a>Comprehensive Harvests</li> / 
				<li><a class="url_topic_collections" href="url 'www:topicCollections' "></a>Topic Collections</li> / 
				<li><a class="url_documents" href="url 'www:documents' "></a>Documents</li> / 
				<li><a class="url_graphics" href="url 'www:graphics' "></a>Banners</li> / 
				<li><a class="url_contact" href="url 'www:contact' "></a>Contacts</li>
			{% endif %}
		</ul>
		<hr>
	</div>

</section>

<script>
    // dynamically activate menu link, yes this seem like a barbaric think to do, but think of all the if conditions in django that does not need to exist!
    var view_name = ".url_{{ view.view_name }}";
    $(view_name).addClass('current');
</script>