<section>
	<div class="container">

		{% if lang == "cs" %}
			<h1><a href="{% url "www:index" %}">Webarchiv<span class="false-link-underline-blue"></span></a> uchovává český web</h1><br>
			<p>Pro první seznámení s webarchivem pokračujte <a href="{% url "www:more_about" %}">zde</a></p>
		{% else %}
			<h1><a href="{% url "www:index" %}">Webarchiv<span class="false-link-underline-blue"></span></a> preserves Czech web</h1><br>
			<p>For basic informations about Webarchiv visit our <a href="{% url "www:more_about" %}">introduction</a></p>
		{% endif %}

		<ul class="inline-list">
			{% if lang == "cs" %}
				<li><a class="sub_view_about" href="{% url 'www:about' %}">O Webarchivu</a></li> / 
				<li><a class="sub_view_terminology" href="{% url 'www:about_terminology' %}">Terminologie</a></li> / 
				<li><a class="sub_view_harvests" href="{% url 'www:about_harvests' %}">Celoplošné sklizně</a></li> / 
				<li><a class="sub_view_topic_collections" href="url 'www:topicCollections' ">Tématické sbírky</a></li> / 
				<li><a class="sub_view_documents" href="{% url 'www:about_documents' %}">Dokumenty</a></li> / 
				<li><a class="sub_view_graphics" href="{% url 'www:about_graphics' %}">Grafické materiály</a></li> / 
				<li><a class="sub_view_contact" href="{% url 'www:about_contact' %}">Kontakty</a></li>
			{% else %}
				<li><a class="sub_view_about" href="{% url 'www:about' %} ">About Webarchiv</a></li> / 
				<li><a class="sub_view_harvests" href="{% url 'www:about_harvests' %}">Comprehensive Harvests</a></li> / 
				<li><a class="sub_view_topic_collections" href="url 'www:topicCollections' ">Topic Collections</a></li> / 
				<li><a class="sub_view_documents" href="{% url 'www:about_documents' %}">Documents</li></a> / 
				<li><a class="sub_view_graphics" href="{% url 'www:about_graphics' %}">Banners</li></a> / 
				<li><a class="sub_view_contact" href="{% url 'www:about_contact' %}">Contacts</li></a>
			{% endif %}
		</ul>
		<hr>
	</div>

</section>

<script>
    // dynamically activate menu link, yes this seem like a barbaric think to do, but think of all the if conditions in django that does not need to exist!
    var view_name = ".sub_view_{{ view.sub_view_name }}";
    $(view_name).addClass('current');
</script>