{% extends "base_www.html" %}

{% block title %}{% if lang == "cs" %}Jsme Webarchiv{% else %}We are Webarchiv{% endif %}{% endblock title %}

{% block content %}

	{% if lang == "cs" %}

		<section class="paralax section-blue">
			<div class="container">

				<div class="row">
					<div class="col-md-12">

						<h1>Jsme <a href="{% url "www:index" %}">Webarchiv<span class="false-link-underline-white"></span></a></h1>
						<p>
							digitální knihovna, která uchovává weby <br class="visible-md visible-lg">
							pro budoucí generace.
						</p>
						<p>
							Pokud je nebudeme průběžně archivovat, <br class="visible-md visible-lg">
							zmizí významná součást národního <br class="visible-md visible-lg">
							kulturního dědictví.
						</p>

						<div class="www visible-md visible-lg"><div><span>www</span></div></div>

					</div>
				</div>

			</div>
		</section>

		<section class="paralax section-white">
			<div class="container">

				<h2>Jak archivujeme?</h2>
				<p>
					Provádíme kompletní archivaci<br class="visible-md visible-lg">„celého“ českého webu.
				</p>
				<p>
					Souběžně probíhá <a href="{% url "www:categories" %}">výběrová</a> <br class="visible-md visible-lg">
					a <a href="{% url "www:topic_collections" %}">tématická</a> archivace.
				</p>

				<div class="www visible-md visible-lg"><div><span>w<br>w<br>w<br>w<br>w<br>w<br>w<br>w</span></div></div>

			</div>
		</section>

		<section class="paralax section-black">
			<div class="container">

				<h2>Bohužel!</h2>
				<p>
					Ne všechna data jsou dostupná online.
				</p>
				<p>
					Může za to současná podoba autorského zákona, <br class="visible-md visible-lg">
					která byla vymyšlena pro knihy. Pro přístup <br class="visible-md visible-lg">
					k celému archivu musíte prozatím až k <a href="http://www.webarchiv.cz/cs/kontakty" target="_blank">nám</a>.
				</p>

				<div class="www visible-md visible-lg upsideDown"><div><span>w</span></div></div>

			</div>
		</section>

		<section class="paralax section-white">
			<div class="container">

				<h2>Budoucnost</h2>
				<p>
					Webový archiv není jen skladiště URL, na které <br class="visible-md visible-lg">
					usedá prach. Pracujeme na vytvoření fulltextu <br class="visible-md visible-lg">
					celého archivu. Potřebujeme porozumět tomu, <br class="visible-md visible-lg">
					co nesou jednotlivé digitální objekty a co budou <br class="visible-md visible-lg">
					znamenat historicky.
				</p>
				<p>
					Čeká nás otevření Webarchivu analytickému <br class="visible-md visible-lg">
					výzkumu a propojení našich dat s jinými archivy.
				</p>

				<div class="www visible-md visible-lg"><div><span><span class="w1">w</span><span class="w2">w</span><span class="w3">w</span></span></div></div>

			</div>
		</section>

		<section class="paralax section-blue">
			<div class="container">

				<h2>Jak vyhledávat?</h2>
				<p>
					Můžete vyhledávat jak URL <br class="visible-md visible-lg">
					tak klíčová slova.
				</p>
				<p>
					To vše z jednoho vyhledávacího <a href="{% url "www:index" %}">okna</a>.
				</p>

				<div class="www visible-md visible-lg"><div><span>w______</span></div></div>

			</div>
		</section>

		<section class="paralax last section-white">
			<div class="padding20"></div><div class="padding20"></div>
			<div class="container">

				<div class="www visible-md visible-lg"><div><span><a href="{% url "www:index" %}" class="false-link-underline-blue">w</a><br><a href="{% url "www:index" %}" class="false-link-underline-blue">w</a> <a href="{% url "www:index" %}" class="false-link-underline-blue">w</a><br><a href="{% url "www:index" %}" class="false-link-underline-blue">w</a> <a href="{% url "www:index" %}" class="false-link-underline-blue">w</a> <a href="{% url "www:index" %}" class="false-link-underline-blue">w</a></span></div></div>

			</div>
		</section>
	{% else %}

		<section class="paralax section-blue">
			<div class="container">

				<h1>We are <a href="{% url "www:index" %}">Webarchiv<span class="false-link-underline-white"></span></a></h1>
				<p>
					the digital library, which preserves web sites <br class="visible-md visible-lg">
					for future generations.
				</p>
				<p>
					Without continuous web content preserving, <br class="visible-md visible-lg">
					the significant part of national heritage <br class="visible-md visible-lg">
					would be lost.
				</p>

				<div class="www visible-md visible-lg"><div><span>www</span></div></div>

			</div>
		</section>

		<section class="paralax section-white">
			<div class="container">

				<h2>How do we archive?</h2>
				<p>
					We perform a complete archivation<br class="visible-md visible-lg">
					of the „entire“ Czech web.
				</p>
				<p>
					The <a href="{% url "www:categories" %}">selected websites</a> <br class="visible-md visible-lg">
					are harvested contemporaneously.
				</p>

				<div class="www visible-md visible-lg"><div><span>w<br>w<br>w<br>w<br>w<br>w<br>w<br>w</span></div></div>

			</div>
		</section>

		<section class="paralax section-black">
			<div class="container">

				<h2>Unfortunatelly,</h2>
				<p>
					not entire data are available online.
				</p>
				<p>
					This is caused by current legal state of copyright. <br class="visible-md visible-lg">
					The entire Webarchiv data are accessible only <br class="visible-md visible-lg">
					in the library building.
				</p>

				<div class="www visible-md visible-lg upsideDown"><div><span>w</span></div></div>

			</div>
		</section>

		<section class="paralax section-white">
			<div class="container">

				<h2>Future</h2>
				<p>
					The present day we work on a creating the <br class="visible-md visible-lg">
					full-text search. We recognize the importance <br class="visible-md visible-lg">
					of understanding of the digital objects and their <br class="visible-md visible-lg">
					historical meaning.
				</p>
				<p>
					Webarchiv expects opening our data <br class="visible-md visible-lg">
					to an analytic data exploration and connection<br class="visible-md visible-lg">
					with other web archiving initiatives.
				</p>

				<div class="www visible-md visible-lg"><div><span><span class="w1">w</span><span class="w2">w</span><span class="w3">w</span></span></div></div>

			</div>
		</section>

		<section class="paralax section-blue">
			<div class="container">

				<h2>How to search?</h2>
				<p>
					You can search by URL address or keyword <br class="visible-md visible-lg">
					in one <a href="{% url "www:index" %}">search box</a>.
				</p>

				<div class="www visible-md visible-lg"><div><span>w______</span></div></div>

			</div>
		</section>

		<section class="paralax last section-white">
			<div class="padding20"></div><div class="padding20"></div>
			<div class="container">

				<div class="www visible-md visible-lg"><div><span><a href="{% url "www:index" %}" class="false-link-underline-blue">w</a><br><a href="{% url "www:index" %}" class="false-link-underline-blue">w</a> <a href="{% url "www:index" %}" class="false-link-underline-blue">w</a><br><a href="{% url "www:index" %}" class="false-link-underline-blue">w</a> <a href="{% url "www:index" %}" class="false-link-underline-blue">w</a> <a href="{% url "www:index" %}" class="false-link-underline-blue">w</a></span></div></div>

			</div>
		</section>



	{% endif %}

{% endblock %}
