{% extends "base_www.html" %}

{% block title %}Terminologie{% endblock title %}


{% block content %}

	{% include "about/menu.html" %}

	<section>
		<div class="container">

			<h2>Terminologie</h2>

			<ul class="normal">
				<li><strong>Crawler</strong> - počítačový program, který dokáže automaticky procházet a stahovat webové stránky. Crawlery používají zejména internetové vyhledávače a také webové archivy</li>
				<li><strong>Heritrix</strong> - webový crawler vytvořený a používaný pro archivaci webu (procházení webu a stahování jeho obsahu do archivu)</li>
				<li><strong>Archivace</strong> - trvalé uchovávání dokumentů nebo celých sbírek. Obvykle se archivují povinné výtisky, historické dokumenty nebo fondy a další konzervační sbírky, a to na základě zákonného ustanovení anebo interního předpisu příslušné instituce. (TDKIV)</li>
				<li><strong>Sklizně</strong> - procesy automatického stahování a sběru dat z vybraných webových zdrojů (vytváření kopií)</li>
				<li><strong>Semínka</strong> - jednotlivé URL adresy, které jsou předmětem archivace, jeden zdroj může mít více semínek (např. při přesměrování, nebo změně adresy)</li>
				<li><strong>Zpřístupnění</strong> - užití díla, které zahrnuje umožnění vnímání díla jiné osobě, např. rozšiřování, pronájem, půjčování, vystavování, sdělování díla apod., u elektronických zdrojů se jedná zejména o rozšiřování díla prostřednictvím sítě internet (TDKIV)</li>
				<li><strong>Wayback machine</strong> (v překladu doslova stroj času) - služba vytvořená organizací Internet Archive, která slouží jako prohlížeč archivovaných verzí elektronických webových zdrojů</li>
				<li><strong>TLD</strong> (top level domain) - doména nejvyššího řádu, popisuje základní skupinu doménových jmen (např. daného státu), uvedena na konci adresy, např. .cz, .eu, .com</li>
				<li><strong>URL</strong> (uniform resource locator) - řetězec znaků, který specifikuje umístění zdrojů informací na internetu, URL adresa je webová adresa stránek skládající se primárně z názvu protokolu (http), domény (např. webarchiv) a generické domény (např. .cz)</li>
				<li><strong>URI</strong> (uniform resource identifier) - textový řetězec s definovanou strukturou, sloužící k přesné specifikaci zdroje, jedná se o obecný koncept</li>
				<li><strong>WARC</strong> (Web ARChive) - formát určený k uložení webových sklizní vytvořených v rámci archivace</li>
			</ul>

		</div>
	</section>

{% endblock %}
