{% extends "base_www.html" %}
{% load i18n thumbnail %}

{% block title %}{% if lang == "cs" %}Tématické sbírky{% else %}Topic collections{% endif %}{% endblock title %}


{% block content %}
	{% include "about/menu.html" %}

	<section id="catalog-items">
		<div class="container">
			{% if lang == "cs" %}
				<h2>Tématické sbírky</h2>
				<p>Tematické sbírky jsou monotematické soubory webových dokumentů. V rámci tematických sklizní sledujeme především takové děje, které doprovází celospolečenská debata a je u nich tedy předpoklad, že zaujmou významnější místo z hlediska dějin České republiky. Cíleně vybíráme události, které mají širší ohlas v prostředí internetu. Monitorujeme očekávané akce (např. volby), ale i nenadálé situace (např. povodně).</p>
			{% else %}
				<h2>Topic collections</h2>
			{% endif %}

			<div class="padding20"></div>


			<div class="row">
				{% for collection in collections %}
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
						<div class="item-visual">
							<a href="{{ collection.get_absolute_url }} ">
								<div class="img-wrapper thumb">
									{% if collection.image %}
			                            {% thumbnail collection.image "206x156" crop="center" as im %}
			                                <img src="{{ im.url }}" class="aspect-ratio" width="{{ im.width }}" height="{{ im.height }}">
			                            {% endthumbnail %}
									{% else %}
										<div class="aspect-ratio">
											<div class="no-image">
												<span class="small">www</span>
											</div>
										</div>
									{% endif %}
								</div>
								<br>
								<h2>{{ collection }}</h2>
								<br>
							</a>
							<p>{{ collection.annotation|safe|striptags|truncatewords:30 }}</p>
						</div>
					</div>
				<div class="{% cycle "" "clearfix visible-sm-block" %} {% cycle "" "" "clearfix visible-lg-block visible-md-block" %} clearfix visible-xs-block"></div>

				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}
