{% extends "base_www.html" %}

{% block title %}{% if lang == "cs" %}Webarchiv podle oborů{% else %}Browse by subject{% endif %}{% endblock title %}


{% block content %}
	{% include "categories/menu.html" %}

	<section id="catalog-items">
		<div class="container">

			<hr>
			<br>

			{% ifequal list_type "visual"  %}
				{% include "includes/resource_list_visual.html" %}
			{% else %}
				{% include "includes/resource_list_text.html" %}
			{% endifequal %}

		</div>
	</section>

{% endblock %}