	<section id="catalog-header">
		<div class="container">
			{% if lang == "cs" %}
				<h1><a href="{plink default}">Webarchiv<span class="false-link-underline-blue"></span></a> podle oborů</h1><br>
				<p>Přehled nasmlouvaných webů dle oborového třídění:</p>
			{% else %}
				<h1>Browse the <a href="{plink default}">Webarchiv<span class="false-link-underline-blue"></span></a> by subject</h1><br>
				<p>List of a contracted websites by classification system:</p>
			{% endif %}

			<ul class="inline-list categories">
				<li><a href="{plink catalog}" {% if not current %}class="current"{% endif %}>Vše</a>&nbsp;{{ sources_count }}&nbsp;<span class="slash">/</span>&nbsp;</li>

				{foreach $categories as $category}
					{if $category['count'] > 0}
						<li>
							<a href="{plink catalog, category => $category['id']}"{if $currentCategory && $category['id']==$currentCategory->id} class="current"{/if}>
								{$category['category']}</a>&nbsp;{$category['count']}{sep}&nbsp;<span class="slash">/</span>&nbsp;{/sep}
						</li>
					{/if}
				{/foreach}

			</ul>

			{if $currentCategory}

				<h2 class="italic">{$currentCategory->category}</h2>

				<ul class="inline-list subcategories">

					<li><a href="{plink catalog, category => $currentCategory->id}"{if !$currentSubcategory} class="current"{/if}>Vše</a>&nbsp;{$categoryResourcesCount}&nbsp;<span class="slash">/</span>&nbsp;</li>
					{foreach $subcategories as $subcategory}
						{if $subcategory['count'] > 0}
							<li><a href="{plink catalog, category => $currentCategory->id, subcategory => $subcategory['id']}"{if $currentSubcategory && $subcategory['id']==$currentSubcategory->id} class="current"{/if}>{$subcategory['subcategory']}</a>&nbsp;{$subcategory['count']}{sep}&nbsp;<span class="slash">/</span>&nbsp;{/sep}</li>
						{/if}
					{/foreach}

				</ul>

			{/if}

		</div>
	</section>