{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% trans 'QA' %} {{ source}}
{% endblock %}

{% block page_header %}
    {% trans 'QA' %} <a href="{{ source.get_absolute_url }}">{{ source}}</a>
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}

    <div class="col-md-12 col-sm-12">
    <h4>{% trans 'Seeds' %}</h4>
        <ul class="list-group">
            {% for seed in source.seed_set.all %}
                <li class="list-group-item list-group-item-{{ seed.css_class }}">
                    <a target="_blank" href="{{ seed.url }}">{{ seed }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-12 col-sm-12">
        <form class="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Send' %}" />
        </form>
    </div>
{% endblock %}