<HTML>
<HEAD>
<META HTTP-EQUIV="Content-language" content="text/html;charset=utf-8">
<link rel="stylesheet" href="/css/style.css" media="screen,projection,tv" type="text/css" />
<TITLE>Stránka ve výstavbě</TITLE>
</HEAD>
<BODY bgcolor="white">
<div style="background-color: #DE5900; padding: 20px 0 20px 0; text-align: center; color: #fff;">Momentálně připravujeme novou verzi těchto stránek. Již brzy na vašich přijímačích :)</div>
</HTML