{% load bootstrap3 %}
{% load i18n %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extrahead %}

    {% endblock %}
    <link href="{{ STATIC_URL }}login.css" rel="stylesheet">
</head>

<body>
<div class="container">
    {% bootstrap_messages %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
