{% extends 'registration/base_login.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans 'Login' %} | Seeder {% endblock %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}login.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <form class="login-box" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Login to Seeder' %}</button>
        {% if form.errors %}
            <a href="{% url 'password_reset' %}" class="btn btn-lg btn-primary btn-block btn-danger">{% trans 'Reset password' %}</a>
        {% endif %}
    </form>
{% endblock %}