{% load i18n %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% trans 'Login' %} | {% trans 'Seeder' %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}pure/pure-min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}pure/base-min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}pure/buttons-min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}login.css">

</head>
<body>
    <div class="login-box">
        <h2>{% trans 'Log in please' %}</h2>
        <form action="" method="post" class="pure-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="pure-button pure-button-primary"/>
        </form>
    </div>
</body>
</html>