{% extends 'registration/base_login.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ title }} | Seeder {% endblock %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}login.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="reset-box">
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Password link sent' %}</div>
            <div class="panel-body">
                <p>
                    {% blocktrans %}
                        Check your email for instructions. Don't forget about
                        spam folder.
                        If you did not receive any email don't hesitate to
                        contact us.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}