{block title}Pomozte nám uchovat český web | {include #parent}{% endblock %}

{block menuItemActive4} class="active"{% endblock %}

{% block content %}

	{include ../commonParts/add.latte}

	<section>
		<div class="container">
			<h2>Smlouva</h2>
			<p>Zde se můžete podívat na návrh smlouvy: <a href="http://webarchiv.cz/download/smlouvaWebarchiv.doc">SmlouvaWebarchiv.doc</a>, <a href="http://webarchiv.cz/download/smlouvaWebarchiv.pdf">SmlouvaWebarchiv.pdf</a></p>

			<h2>Pomozte nám uchovat český web</h2>
			<p>Webarchiv Národní knihovny ČR se snaží archivovat a následně zpřístupňovat české elektronické online zdroje. Ve webovém archivu jsou uchovávány webové stránky získané v rámci celoplošných sklizní.</p>
			<p>Podle platné české legislativy nemáme možnost poskytovat k obsahu archivu webu volný přístup. Jedinou možností pro uživatele, jak se dostat k datům ve Webarchivu, je přístup z terminálu v Národní knihovně. U vybraných webových stránek splňujících stanovená kritéria, usilujeme jako náhradní řešení o dohodu s vydavatelem, umožňující online přístup.</p>

			<h2>Spolupracujte s Webarchivem</h2>
			<p><strong>Vydáváte kvalitní webové stránky?</strong></p>
			<ul class="normal">
				<li>Dejte nám o nich vědět prostřednictvím <a href="{plink add}">formuláře</a>.</li>
				<li>My vás kontaktujeme a pokusíme se s vámi uzavřít smlouvu, která nám umožní zpřístupňovat archiv Vašich webových stránek online přímo přes internet.</li>
				<li>Vystavili jste obsah Vašich stránek pod licencí <a href="{plink creativeCommons}">Creative Commons</a> (CC)? <a href="{plink add}">Ozvěte se nám!</a></li>
				<li>Na náhled smlouvy o poskytování elektronických online zdrojů se můžete podívat <a href="http://webarchiv.cz/download/smlouvaWebarchiv.doc">zde</a>.</li>
			</ul>

			<h2>Co získáte spoluprácí s námi?</h2>
			<ul class="normal">
				<li>Vaše webové stránky budou <strong>trvale uchovány pro budoucnost a stanou se tak součástí národního kulturního dědictví</strong>, o které pečuje Národní knihovna ČR.</li>
				<li>Váš zdroj bude <strong>zkatalogizován</strong> stejným způsobem jako např. knižní publikace a bude zařazen do České národní bibliografie a do <a href="http://aleph.nkp.cz/F/?func=file&file_name=find-a&local_base=web" target="_blank">online katalogu Národní knihovny</a>.</li>
				<li>Na své stránky si můžete umístit náš <strong><a href="{plink graphics}">certifikát</a> „Stránky archivovány Národní knihovnou ČR“</strong>.</li>
			</ul>

		</div>
	</section>

{% endblock %}
