{% extends 'base.html' %}
{% load i18n bootstrap3 %}

{% block extrahead %}
{{ block.super }}
<script type='text/javascript' src="https://cdn.jsdelivr.net/bootstrap.calendar/0.2.4/js/calendar.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<link href="https://cdn.jsdelivr.net/bootstrap.calendar/0.2.4/css/calendar.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}main.css" rel="stylesheet">
{% endblock %}


{% block content_raw %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="page-header">
        <h3></h3>
		<div class="pull-right form-inline">
			<div class="btn-group">
				<button class="btn btn-primary" data-calendar-nav="prev"><< Prev</button>
				<button class="btn" data-calendar-nav="today">Today</button>
				<button class="btn btn-primary" data-calendar-nav="next">Next >></button>
			</div>
			<div class="btn-group">
				<button class="btn btn-warning" data-calendar-view="year">Year</button>
				<button class="btn btn-warning active" data-calendar-view="month">Month</button>
				<button class="btn btn-warning" data-calendar-view="week">Week</button>
			</div>
		</div>
	</div>
    <div id="calendar"></div>

    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans 'Add harvest' %}</h4>
          </div>
            <form action="{% url 'harvests:add' %}" method="post">
                {% csrf_token %}
              <div class="modal-body">
                  {% bootstrap_form harvest_form %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                <input type="submit" class="btn btn-primary">
              </div>
          </form>

        </div>
      </div>
    </div>

</div>
<script type="text/javascript">
    var calendar = $("#calendar").calendar(
        {
            tmpl_path: "{{ STATIC_URL }}/calendar_templates/",
            events_source: '{% url 'harvests:json_calendar' %}',
            onAfterViewLoad: function(view) {
                $('.page-header h3').text(this.getTitle());
			    $('.btn-group button').removeClass('active');
			    $('button[data-calendar-view="' + view + '"]').addClass('active');

                if(view == "month") {
                    $("#calendar").find(".cal-month-day").dblclick(function(e) {
                        var clicked_date = $(this).find('span').attr('data-cal-date');
                        $('#{{ harvest_form.scheduled_on.auto_id }}').val(clicked_date);
                        $('#form-modal').modal('toggle');
                    });
                }
            }
        });

	$('.btn-group button[data-calendar-nav]').each(function() {
		var $this = $(this);
		$this.click(function() {
			calendar.navigate($this.data('calendar-nav'));
		});
	});

	$('.btn-group button[data-calendar-view]').each(function() {
		var $this = $(this);
		$this.click(function() {
			calendar.view($this.data('calendar-view'));
		});
	});


</script>

{% endblock %}