{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}{{ object.scheduled_on }} - {{ object }} {% endblock %}
{% block page_header %}{{ object.scheduled_on }} - {{ object }} <a href="{% url 'harvests:edit' pk=object.pk %}" class="btn btn-primary btn-info pull-right">{% trans 'Edit' %}</a>{% endblock %}o
{% block content %}
    <div class="col-xs-12 col-md-12">
        <ul class="list-group">
          <li class="list-group-item">{% trans 'Title' %}: <span class="pull-right">{{ object.title }}</span></li>
          <li class="list-group-item">{% trans 'Date/Type URL' %}: <span class="pull-right"><code>{{ object.get_date_url }}</code></span></li>
          <li class="list-group-item">{% trans 'Annotation' %}: <span class="pull-right">{{ object.annotation }}</span></li>
          <li class="list-group-item">{% trans 'Status' %}: <span class="pull-right">{{ object.get_status_display }}</span></li>
          <li class="list-group-item">{% trans 'Scheduled on' %}: <span class="pull-right">{{ object.scheduled_on }}</span></li>
          <li class="list-group-item">{% trans 'Sources by frequency' %}: <span class="pull-right">{{ object.get_target_frequency_display }}</span></li>
          <li class="list-group-item">{% trans 'Include ArchiveIt seeds' %}: <span class="pull-right">{{ object.archive_it }}</span></li>
          <li class="list-group-item">{% trans 'Include Tests seeds' %}: <span class="pull-right">{{ object.tests }}</span></li>
          <li class="list-group-item">{% trans 'Created' %}: <span class="pull-right">{{ object.created }}</span></li>
          <li class="list-group-item">{% trans 'Last changed' %}: <span class="pull-right">{{ object.last_changed }}</span></li>
          <li class="list-group-item"><a href="{% url 'harvests:urls' object.id %}">{% trans 'List of urls' %}</a></li>
        </ul>

        <p>
            {% trans 'Poznámka: Po přepnutí sklizně do stavu running dojde ke zmražení semínek a nelze je měnit.' %}
        </p>

        {% if object.topic_collections.exists %}
            <h3>{% trans 'Included topic collections' %}</h3>
            <ul class="list-group">
            {% for topic_collection in object.topic_collections.all %}
                <li class="list-group-item"><a href="{{ topic_collection.get_absolute_url }}">{{ topic_collection }}</a></li>
            {% endfor %}
        {% endif %}
    
        {% if object.custom_seeds %}
            <h3>{% trans 'Custom seeds' %}:</h3>
            <textarea class="form-control" rows="3">{{ object.custom_seeds }}</textarea>
        {% endif %}

        {% if object.custom_sources.exists %}
            <h3>{% trans 'Custom sources' %}</h3>
            <ul class="list-group">
                {% for source in object.custom_sources.all %}
                    <li class="list-group-item">{{ source }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-xs-12 col-md-12">
        <h2>{% trans 'Comments' %}</h2>
        {% include 'bootstrap_comments.html' with comments=comments form=comment_form %}
    </div>
{% endblock %}
