{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Harvest catalogue' %}
{% endblock %}

{% block page_header %}
{% trans 'Harvest catalogue' %}
{% endblock %}

{% block content %}
<p>
    These are the available URLs for retrieving seeds for specific harvests,
    shortcuts, or for listing the available harvest URLs for a specific date.
</p>
<p>
    All URLs should only serve as examples. For date, today was used, and for
    primary keys, 1234 was used.
</p>
<table class="table">
    <tr>
        <th colspan="2">
            Harvest URLs by date and harvest ID
        </th>
    </tr>
    {% for url, title in harvest_urls %}
    <tr>
        <td><code>{{url}}</code></td>
        <td><a href="{{ url }}">{{ title }}</a></td>
    </tr>
    {% endfor %}

    <tr>
        <th colspan="2">
            Harvest URLs by date and shortcut
        </th>
    </tr>
    {% for url, title in shortcut_urls %}
    <tr>
        <td><code>{{url}}</code></td>
        <td><a href="{{ url }}">{{ title }}</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}