{% extends 'base.html' %}
{% load i18n bootstrap3 thumbnail static core %}

{% block title %} {{ object }} {% endblock %}
{% block page_header %} {{ object }}{% endblock %}

{% block content %}
    <div class="col-md-6 col-sm-5">
        <h4>{% trans 'Info' %}</h4>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>{% trans 'External Topic Collection' %}</td>
                    <td>
                    {% if object.external_collection %}
                        <a href="{{ object.external_collection.get_absolute_url }}">{{ object.external_collection }}</a>
                    {% else %}
                        {% trans 'No assigned External Topic Collection' %}
                    {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>{% trans "Collection alias" %}</td>
                    <td>{{ object.collection_alias }}</td>
                </tr>

                <tr>
                    <td>{% trans 'title [cs]' %}</td>
                    <td>{{ object.title_cs }}</td>
                </tr>

                <tr>
                    <td>{% trans 'title [en]' %}</td>
                    <td>{{ object.title_en }}</td>
                </tr>

                <tr>
                    <td>{% trans 'annotation [cs]' %}</td>
                    <td>{{ object.annotation_cs }}</td>
                </tr>

                <tr>
                    <td>{% trans 'annotation [en]' %}</td>
                    <td>{{ object.annotation_en }}</td>
                </tr>

                <tr>
                    <td>{% trans 'Seeds by frequency' %}</td>
                    <td>{{ object.get_target_frequency_display }}</td>
                </tr>


                <tr>
                    <td>{% trans 'Harvested from' %}</td>
                    <td>{{ object.date_from }}</td>
                </tr>

                <tr>
                    <td>{% trans 'Harvested till' %}</td>
                    <td>{{ object.date_to|default:"—" }}</td>
                </tr>

                <tr>
                    <td>{% trans 'Created at' %}</td>
                    <td>{{ object.created }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Owner' %}</td>
                    <td>{{ object.owner }}</td>
                </tr>

                <tr>
                    <td>{% trans 'Attachments' %}</td>
                    <td>{% for attachment in object.attachment_set.all %}
                      <a href="{{ attachment.file.url }}">{{ attachment }}</a>{% include "includes/comma.html" %}
                    {% endfor %}
                  </td>
                </tr>

                <tr>
                    <td>{% trans "Aggregation with same type" %}</td>
                    <td>{{ object.aggregation_with_same_type|fa_boolean }}</td>
                </tr>
                <tr>
                    <td>{% trans 'All sources are open?' %}</td>
                    <td>{{ object.all_open|fa_boolean }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-3 col-sm-5">
    <h4>{% trans 'Seeds' %}</h4>
        <ul class="list-group">
            {% for seed in object.custom_sources.all %}
                <li class="list-group-item ">
                    {{ seed }}
                </li>
            {% endfor %}
        </ul>

    </div>
    <div class="col-md-3 col-sm-5">
        <h4>{% trans 'Links' %}:</h4>
            <a href="{% url 'harvests:internal_collection_edit' pk=object.pk %}" class="btn btn-primary btn-warning btn-block">{% trans 'Edit' %}</a>
            <a href="{% url 'harvests:internal_collection_history' pk=object.pk %}" class="btn btn-primary btn-info btn-block">{% trans 'History' %}</a>
            <a href="{% url 'harvests:internal_collection_urls' pk=object.pk %}" class="btn btn-primary btn-info btn-block" target="_blank">{% trans 'Seed URLs' %}</a>
    </div>

    <div class="col-xs-12 col-md-12">
        <h2>{% trans 'Comments' %}</h2>
        {% include 'bootstrap_comments_threaded.html' with comments=comments form=comment_form %}
    </div>


{% endblock %}
