Narodni knihovna CR - archivace Vasich webovych stranek

Vazeny vydavateli,

vybrali jsme Vami vydavane stranky nazev zdroje URL pro zarazeni do reprezentativniho vzorku ceskeho webu s cilem jejich dlouhodobeho uchovani pro budouci historicke a vyzkumne ucely. Pokud mate zajem o jejich pravidelnou bezplatnou archivaci v ramci projektu Narodni knihovny CR WebArchiv http://webarchiv.cz, vyberte si prosim jednu ze dvou moznosti:

- muzete s nami uzavrit smlouvu, ktera nam umozni Vase stranky archivovat a zpristupnovat z archivu prostrednictvim internetu. Smlouva je ke stazeni zde: http://webarchiv.cz/download/smlouvaWebarchiv.doc. Doplnte prosim Vase udaje a URL stranek, vytisknete 2x a zaslete podepsane postou na nasi adresu. Jedno vyhotoveni obdrzite zpet po podpisu na nasi strane.

Dulezite upozorneni: prosim, nedoplnujte do smlouvy jine stranky bez predchozi konzultace s nami. Narodni knihovna hodnoti jednotlive zdroje na zaklade stanovenych kriterii http://webarchiv.cz/cs/o-webarchivu. Pokud mate zajem o archivaci dalsich zdroju, poslete nam prosim nejprve navrh ke schvaleni pomoci elektronickeho formulare  http://webarchiv.cz/cs/pridat-web. V pripade, ze navrzene zdroje nebudou odpovidat vyberovym kriteriim, vyhrazujeme si pravo tyto zdroje v ramci vyberovych sklizni nearchivovat.
 
- alternativne muzete vystavit obsah Vasich stranek pod jednou z licenci Creative Commons, cimz date svoleni k rozmnozovani a sireni obsahu stranek ostatnimi, pokud Vas uvedou jako autora a dodrzi ostatni podminky, ktere si stanovite (napr. vyuziti pouze k nekomercnim ucelum). Muzete pouzit generator licenci http://creativecommons.org/choose/?lang=cs, kterym vytvorite ikonku s odkazem na zneni licence a tu pote vlozite do Vasich stranek. Vice informaci o Creative Commons naleznete zde http://webarchiv.cz/cs/creative-commons. Pokud se rozhodnete pro variantu Creative Commons, zaslete nam prosim strucny email s oznamenim.

Spoluprace s nami Vam prinese:

- zarazeni do vyberoveho archivu ceskych webovych zdroju vyznamnych statnich i soukromych instituci s potencialni historickou, kulturni, vyzkumnou nebo jinou informacni hodnotou,
- uvedeni v seznamu spolupracujicich vydavatelu na strankach www.webarchiv.cz vcetne odkazu na Vase stranky,
- jistotu, ze obsah Vaseho webu bude nekolikrat rocne archivovan a zustane uchovan i pokud bude v budoucnu cinnost stranek ukoncena,
- zaznam o strankach se stane soucasti katalogu Narodni knihovny a bude zarazen do Ceske narodni bibliografie,
- logo „Stranky archivovany Narodni knihovnou CR“, ktere muzete umistit na Vase stranky.

V pripade jakychkoli nejasnosti, dotazu ci pripominek nas prosim kontaktujte. Radi take uvitame Vase navrhy a doporuceni na zarazeni dalsich kvalitnich webovych stranek do projektu WebArchiv. Pokud o takovych strankach vite, poslete nam prosim upozorneni emailem nebo prostrednictvim weboveho formulare http://webarchiv.cz/cs/pridat-web.


S pozdravem,

{{ user }}
Oddělení archivace webu
Národní knihovna České republiky
Klementinum 190, Praha 1
{{ user.email }}|www.nkp.cz
www.webarchiv.cz
+420 221 663 256
Budova: A Klementinum, Místnost: 241




TENTO E-MAIL NEMÁ POVAHU OBCHODNÍ NABÍDKY, PŘIJETÍ NABÍDKY S DODATKEM NEBO ODCHYLKOU SE VYLUČUJE. TENTO MAIL NEMÁ POVAHU PŘEDSMLUVNÍ INFORMACE. VEŠKERÁ KOMUNIKACE MEZI STRANAMI MUSÍ BÝT PROVEDENA PÍSEMNĚ S TÍM, ŽE DOKUD NENÍ JAKÝKOLIV ÚKON A JEHO OBSAH POTVRZEN DRUHOU STRANOU, NELZE JEJ POVAŽOVAT ZA JEDNÁNÍ, KTERÉ BY OSOBĚ, KTERÁ JEJ UČINILA, ZAKLÁDALO JAKÉKOLIV NÁROKY VŮČI DRUHÉ STRANĚ.
