<p>
    <b>Dobrý den,</b> <br/>
    rádi bychom zařadili Vaše stránky {{source}}, {% for seed in seeds %} {{ seed.url }}, {% endfor %} mezi výběrové české webové
    zdroje určené k pravidelné a dlouhodobé archivaci webu s cílem jejich uchování pro budoucí historické a výzkumné účely.

    Archivace Vašich stránek je zcela bezplatná a je realizována českým webovým archivem
    (<a href="http://webarchiv.cz">Webarchiv</a>) Národní knihovny České republiky. Pro zařazení Vašich stránek mezi výběrové
    české webové zdroje je potřeba zvolit jeden z následujících postupů:
</p>
    <ul>
        <li>
            <p>
                1. můžete s námi uzavřít smlouvu, která nám umožní Vaše stránky archivovat a zpřístupňovat jejich archivní kopie přes náš web.
                Informace ke smlouvě jsou k dispozici <a href="https://www.webarchiv.cz/cs/smlouva">zde</a>,
            </p>
        </li>
        <li>
            <p>
                2. nebo můžete obsah Vašich stránek vystavit pod jednou z licencí Creative Commons.
                Více  informací o Creative Commons naleznete <a href="https://www.webarchiv.cz/cs/creative-commons">zde</a>.
            </p>
        </li>
    </ul>

<p>
    Prosím informujte nás o Vašem rozhodnutí.
</p>
<p>
    Zařazením mezi výběrové webové stránky získáte jistotu, že obsah vašeho webu bude několikrát ročně archivován a zůstane uchován
    v rámci fondu Národní knihovny České republiky. Archivní verze Vašich stránek budou dostupné přes webové stránky Webarchivu a katalog NK ČR.
</p>
<p>
    V případě jakýchkoli nejasností navštivte prosím naše <a href="https://www.webarchiv.cz/cs/faq">FAQ</a> nebo nás přímo kontaktujte.
</p>

S pozdravem, <br/>

<br/> <b>{{ user.first_name }} {{ user.last_name }}</b>
<br/> Oddělení archivace webu
<br/> Národní knihovna České republiky
<br/> Klementinum 190, Praha 1
<br/> {{ user.email }}|www.nkp.cz
<br/> www.webarchiv.cz
<br/> www.facebook.com/webarchivcz
<br/> +420 221 663 256
<br/> Budova: CD Hostivař, Místnost: 425
