<p>
    <b>Vazeny vydavateli,</b> <br/>
    vybrali jsme Vami vydavane stranky {{source}}, {% for seed in seeds %} {{ seed.url }}, {% endfor %} pro zarazeni do reprezentativniho vzorku
    ceskeho webu s cilem jejich dlouhodobeho uchovani pro budouci historicke a vyzkumne ucely.
    Pokud mate zajem o jejich pravidelnou bezplatnou archivaci v ramci projektu Narodni knihovny CR
    WebArchiv <a href="http://webarchiv.cz">http://webarchiv.cz</a>, vyberte si prosim jednu ze dvou moznosti:
</p>
    <ul>
        <li>
            <p>
                muzete s nami uzavrit smlouvu, ktera nam umozni Vase stranky archivovat a zpristupnovat z archivu prostrednictvim internetu.
                Smlouva je ke stazeni zde: <a href="http://webarchiv.cz/download/smlouvaWebarchiv.doc">http://webarchiv.cz/download/smlouvaWebarchiv.doc</a>.
                Doplnte prosim Vase udaje a URL stranek, vytisknete 2x a zaslete podepsane postou na nasi adresu.
                Jedno vyhotoveni obdrzite zpet po podpisu na nasi strane.
            </p>
            <p>
                Dulezite upozorneni: <b>prosim, nedoplnujte do smlouvy jine stranky bez predchozi konzultace s nami.</b>
                Narodni knihovna hodnoti jednotlive zdroje na zaklade stanovenych kriterii <a href="http://webarchiv.cz/cs/o-webarchivu">http://webarchiv.cz/cs/o-webarchivu</a>.
                Pokud mate zajem o archivaci dalsich zdroju, poslete nam prosim nejprve navrh ke schvaleni pomoci elektronickeho formulare
                <a href="http://webarchiv.cz/cs/pridat-web">http://webarchiv.cz/cs/pridat-web</a>.
                V pripade, ze navrzene zdroje nebudou odpovidat vyberovym kriteriim, vyhrazujeme si pravo tyto zdroje v ramci vyberovych sklizni nearchivovat.
            </p>
        </li>
        <li>
            <p>
                alternativne muzete vystavit obsah Vasich stranek pod jednou z licenci Creative Commons,
                cimz date svoleni k rozmnozovani a sireni obsahu stranek ostatnimi, pokud Vas uvedou jako
                autora a dodrzi ostatni podminky, ktere si stanovite (napr. vyuziti pouze k nekomercnim ucelum).
                Muzete pouzit generator licenci <a href="http://creativecommons.org/choose/?lang=cs">http://creativecommons.org/choose/?lang=cs</a>,
                kterym vytvorite ikonku s odkazem na zneni licence a tu pote vlozite do Vasich stranek.
                Vice informaci o Creative Commons naleznete zde <a href="http://webarchiv.cz/cs/creative-commons">http://webarchiv.cz/cs/creative-commons</a>.
                Pokud se rozhodnete pro variantu Creative Commons, zaslete nam prosim strucny email s oznamenim.
            </p>
        </li>
    </ul>


<p>
    Spoluprace s nami Vam prinese:
    <ul>
        <li>zarazeni do vyberoveho archivu ceskych webovych zdroju vyznamnych statnich i soukromych instituci s potencialni historickou, kulturni, vyzkumnou nebo jinou informacni hodnotou, </li>
        <li>uvedeni v seznamu spolupracujicich vydavatelu na strankach www.webarchiv.cz vcetne odkazu na Vase stranky, </li>
        <li>jistotu, ze obsah Vaseho webu bude nekolikrat rocne archivovan a zustane uchovan i pokud bude v budoucnu cinnost stranek ukoncena, </li>
        <li>zaznam o strankach se stane soucasti katalogu Narodni knihovny a bude zarazen do Ceske narodni bibliografie, </li>
        <li>logo „Stranky archivovany Narodni knihovnou CR“, ktere muzete umistit na Vase stranky. </li>
    </ul>
</p>

<p>
    V pripade jakychkoli nejasnosti, dotazu ci pripominek nas prosim kontaktujte. Radi take uvitame Vase navrhy a doporuceni na zarazeni dalsich kvalitnich webovych stranek do projektu WebArchiv. Pokud o takovych strankach vite, poslete nam prosim upozorneni emailem nebo prostrednictvim weboveho formulare http://webarchiv.cz/cs/pridat-web.
</p>

S pozdravem, <br/>

<br/> <b>{{ user.first_name }} {{ user.last_name }}</b>
<br/> Oddělení archivace webu
<br/> Národní knihovna České republiky
<br/> Klementinum 190, Praha 1
<br/> {{ user.email }}|www.nkp.cz
<br/> www.webarchiv.cz




<p>
    TENTO E-MAIL NEMÁ POVAHU OBCHODNÍ NABÍDKY, PŘIJETÍ NABÍDKY S DODATKEM NEBO ODCHYLKOU SE VYLUČUJE. TENTO MAIL NEMÁ POVAHU PŘEDSMLUVNÍ INFORMACE. VEŠKERÁ KOMUNIKACE MEZI STRANAMI MUSÍ BÝT PROVEDENA PÍSEMNĚ S TÍM, ŽE DOKUD NENÍ JAKÝKOLIV ÚKON A JEHO OBSAH POTVRZEN DRUHOU STRANOU, NELZE JEJ POVAŽOVAT ZA JEDNÁNÍ, KTERÉ BY OSOBĚ, KTERÁ JEJ UČINILA, ZAKLÁDALO JAKÉKOLIV NÁROKY VŮČI DRUHÉ STRANĚ.
</p>