<p>
    <b>Dobrý den,</b> <br/>
    obracíme se na Vás ještě jednou v souvislosti s nabídkou archivace stránek {{ source }}
    Národní knihovnou. Rádi bychom tuto záležitost uzavřeli. Vzhledem k tomu, že jsme do dnešního dne nedostali Vaše vyjádření ke spolupráci,
    předpokládáme, že o ni nemáte zájem a nebudeme Vás už dále kontaktovat.
</p>
<p>
    Pokud změníte v budoucnosti názor, neváhejte se na nás obrátit.
</p>

S pozdravem a přáním hezkého dne,
<br/>
<br/> <b>{{ user.first_name }} {{ user.last_name }}</b>
<br/> Oddělení archivace webu
<br/> Národní knihovna České republiky
<br/> Klementinum 190, Praha 1
<br/> {{ user.email }}|www.nkp.cz
<br/> www.webarchiv.cz
<br/> www.facebook.com/webarchivcz
<br/> +420 221 663 256
<br/> Budova: CD Hostivař, Místnost: 425
