Vazeny vydavateli,

opet Vam pisi v souvislosti s nabidkou archivace Vasich stranek nazev URL Narodni knihovnou. Rada bych tuto zalezitost uzavrela. Jelikoz jste se do dnesniho dne ke spolupraci nevyjadril (viz dopisy nize), vyrozumela jsem, ze o spolupraci nemate zajem a proto Vas jiz nebudu kontaktovat.

Rada bych pouze znovu pripomnela, ze zarazeni Vasich stranek do archivace ve WebArchivu je zcela zdarma. Pokud byste v budoucnu zmenil nazor, nevahejte nas kontaktovat.

S pozdravem a pranim hezkeho dne,

Barbora Bjackova

======================================
Oddeleni archivace webu
Narodni knihovna Ceske republiky
Klementinum 190, 110 01 Praha 1

Tel: +420-221663-256
E-mail: barbora.bjackova@nkp.cz
Web: www.webarchiv.cz
=====================================
