<p>
    <b>Vazeny vydavateli,</b> <br/>
    opet Vam pisi v souvislosti s nabidkou archivace Vasich stranek {{ source }}
    Narodni knihovnou. Rada bych tuto zalezitost uzavrela. Jelikoz jste se do dnesniho dne ke spolupraci nevyjadril,
    vyrozumela jsem, ze o spolupraci nemate zajem a proto Vas jiz nebudu kontaktovat.
</p>


<p>
    Rada bych pouze znovu pripomnela, ze zarazeni Vasich stranek do archivace ve WebArchivu je zcela zdarma.
    Pokud byste v budoucnu zmenil nazor, nevahejte nas kontaktovat.
</p>

S pozdravem a pranim hezkeho dne,
<br/>
<br/> <b>{{ user.first_name }} {{ user.last_name }}</b>
<br/> Oddělení archivace webu
<br/> Národní knihovna České republiky
<br/> Klementinum 190, Praha 1
<br/> {{ user.email }}|www.nkp.cz
<br/> www.webarchiv.cz