<p>
    Vazeny pane/Vazena pani, <br/>
    dne {{ today }} jsme se na Vas obratili ve veci archivace webovych stranek {{ source }}
    Narodni knihovnou. Podle naseho nazoru jde o kvalitni stranky, ktere by v projektu WebArchiv nemely schazet.
    Archivaci provadime sami pomoci robota a na naklady knihovny - neslo by tedy o zadne zatizeni pro Vas.
    Potrebovali bychom pouze osetrit pravni stranku veci. Chci Vas jeste jednou poprosit o zvazeni nasi nabidky a vyrozumeni, zda mate o archivaci zajem.
    Blizsi informace muzete nalezt v mem predchozim emailu nize, popr. mne muzete kontaktovat s pripadnymi dotazy.
</p>


<br/> Dekuji predem a preji hezky den,

<br/> <b>{{ user.first_name }} {{ user.last_name }}</b>
<br/> Oddělení archivace webu
<br/> Národní knihovna České republiky
<br/> Klementinum 190, Praha 1
<br/> {{ user.email }}|www.nkp.cz
<br/> www.webarchiv.cz