<p>
    Dobrý den, <br/>
    dne {{ today }} jsme se na Vás obrátili ve věci archivace webových stránek {{ source }}
    Národní knihovnou. Podle našeho názoru jde o kvalitní stránky, které by ve Webarchivu neměly scházet.
    Archivaci provádíme sami pomocí robota a na náklady knihovny – neplynulo by z toho pro Vás tedy žádné zatížení.
    Potřebovali bychom pouze ošetřit právní stránku věci. Chtěli bychom Vás ještě jednou poprosit o zvážení naší nabídky a vyrozumění, zda máte o archivaci zájem.

    Bližší informace můžete nalézt v předchozím emailu nebo nás můžete kontaktovat s případnými dotazy.
</p>

Děkuji a přeji hezký den, <br/>

<br/> <b>{{ user.first_name }} {{ user.last_name }}</b>
<br/> Oddělení archivace webu
<br/> Národní knihovna České republiky
<br/> Klementinum 190, Praha 1
<br/> {{ user.email }}|www.nkp.cz
<br/> www.webarchiv.cz
<br/> www.facebook.com/webarchivcz
<br/> +420 221 663 256
<br/> Budova: CD Hostivař, Místnost: 425
