Vazeny pane/Vazena pani,

obracim se na Vas jmenem Narodni knihovny CR s nabidkou bezplatne archivace stranek      . Jiz nekolikrat jsem Vas v teto souvislosti kontaktovala, bohuzel jsem zatim neobdrzela odpoved (viz emaily nize). Touto cestou Vas jeste jednou prosim o vyrozumeni, zda-li mate o spolupraci zajem.

Predem dekuji za jakoukoliv odpoved.

S pranim pekneho dne,

Barbora Bjackova

======================================
Oddeleni archivace webu
Narodni knihovna Ceske republiky
Klementinum 190, 110 01 Praha 1

Tel: +420-221663-256
E-mail: barbora.bjackova@nkp.cz
Web: www.webarchiv.cz
=====================================

