<p>
    <b>Dobrý den,</b> <br/>
    obracíme se na Vás jménem Národní knihovny ČR s nabídkou bezplatné archivace stránek {{ source }}.
    Již několikrát jsme Vás v této souvislosti kontaktovali, bohužel jsme zatím neobdrželi odpověď.
    Touto cestou Vás ještě jednou prosíme o vyrozumění, zda máte o spolupráci zájem.
</p>


Předem děkujeme za odpověď. <br/>

S přáním pěkného dne,

<br/>
<br/> <b>{{ user.first_name }} {{ user.last_name }}</b>
<br/> Oddělení archivace webu
<br/> Národní knihovna České republiky
<br/> Klementinum 190, Praha 1
<br/> {{ user.email }}|www.nkp.cz
<br/> www.webarchiv.cz
<br/> www.facebook.com/webarchivcz
<br/> +420 221 663 256
<br/> Budova: CD Hostivař, Místnost: 425
