<p>
    <b>Vazeny pane/Vazena pani,</b> <br/>
    obracim se na Vas jmenem Narodni knihovny CR s nabidkou bezplatne archivace stranek {{ source }}.
    Jiz nekolikrat jsem Vas v teto souvislosti kontaktovala, bohuzel jsem zatim neobdrzela odpoved.
    Touto cestou Vas jeste jednou prosim o vyrozumeni, zda-li mate o spolupraci zajem.
</p>


Predem dekuji za jakoukoliv odpoved. <br/>

S pranim pekneho dne,

<br/>
<br/> <b>{{ user.first_name }} {{ user.last_name }}</b>
<br/> Oddělení archivace webu
<br/> Národní knihovna České republiky
<br/> Klementinum 190, Praha 1
<br/> {{ user.email }}|www.nkp.cz
<br/> www.webarchiv.cz