---
version: "3"
services:
  web:
    image: webarchiv/seeder:develop
    command: bash run.sh
    working_dir: /code/Seeder
    ports:
      - 80:8000
    environment:
      DJANGO_SETTINGS_MODULE: settings.env
      ALLOWED_HOSTS: app.webarchiv.cz
      DEBUG: 'True'
      DB_HOST: {{ seeder_db_host }}
      DB_NAME: {{ seeder_db_name }}
      DB_USER: {{ seeder_db_user }}
      DB_PASS: {{ seeder_db_pass }}
      SENTRY_DSN: {{ sentry_dsn_vault }}
    logging:
      options:
        max-size: "1GB"
    depends_on:
      - postgres
      - elastic
      - manet
      - memcached

  postgres:
    image: postgres
    logging:
      options:
        max-size: "1GB"

  memcached:
    image: memcached:latest
    logging:
      options:
        max-size: "100M"

  manet:
    image: bobey/manet:latest
    logging:
      options:
        max-size: "100M"
