{? $footerNoBorder = TRUE;}

{block title}{% if lang == "cs" %}Chyba{% else %}Error{% endif %} 404 | {include #parent}{/block}

{block content}

	<section id="error">
		<div class="container">

			<h1>
				{% if lang == "cs" %}
					<a href="http://cs.wikipedia.org/wiki/HTTP_404">Chyba 404<span class="false-link-underline-blue"></span></a> na <a href="{plink Default:default}">Webarchiv<span class="false-link-underline-blue"></span></a>u
				{% else %}
					<a href="http://en.wikipedia.org/wiki/HTTP_404">Error 404<span class="false-link-underline-blue"></span></a> on <a href="{plink Default:default}">Webarchiv<span class="false-link-underline-blue"></span></a>
				{% endif %}
			</h1>

		</div>
	</section>



{/block}