
	{if $lang == 'cs'}
		Zobrazení: <a href="{plink this, 'display'=>'images'}" class="{if $display=='images'}current{/if}">vizuální</a>, <a href="{plink this, 'display'=>'text'}" class="{if $display=='text'}current{/if}">textové</a>
	{else}
		Display: <a href="{plink this, 'display'=>'images'}" class="{if $display=='images'}current{/if}">visual</a>, <a href="{plink this, 'display'=>'text'}" class="{if $display=='text'}current{/if}">text</a>
	{/if}

	{if $display == 'images'}

		<div class="row">

			{? $i = 0;}
			{foreach $resources as $resource}

				<div class="col-xs-6 col-sm-4 col-md-3">

					<div class="item-visual">
						<a href="http://wayback.webarchiv.cz/wayback/query?type=urlquery&url={$resource['url']|trim}">
							<div class="img-wrapper thumb">
								{? $src_jpg = "images/resource/thumb/small_".$resource['id']."_".$resource['screenshot_date'].".jpg"; $src_png = "images/resource/thumb/small_".$resource['id']."_".$resource['screenshot_date'].".png";}
								{if file_exists(WWW_DIR."/".$src_jpg)}
									<img src="{$basePath}/{$src_jpg}" class="aspect-ratio" alt="{$resource['title']}">
								{elseif file_exists(WWW_DIR."/".$src_png)}
									<img src="{$basePath}/{$src_png}" class="aspect-ratio" alt="{$resource['title']}">	
								{else}
									{? $i++;}
									<div class="aspect-ratio">
										<div class="no-image">
											<span class="small">www</span>
										</div>
									</div>
								{/if}
							</div>
							<h2>{$resource['title']}</h2>
						</a>

					</div>

				</div>

				{if $iterator->counter % 2 == 0 || $iterator->counter % 3 == 0 || $iterator->counter % 4 == 0}
					<div class="{if $iterator->counter % 2 == 0}clearfix visible-xs-block{/if}
								{if $iterator->counter % 3 == 0}clearfix visible-sm-block{/if}
								{if $iterator->counter % 4 == 0}clearfix visible-md-block visible-lg-block{/if}">
					</div>
				{/if}

			{/foreach}

		</div>

	{else}

		{foreach $resources as $resource}

			<div class="row">
				<div class="col-md-12 item-textual">

					<h2><a href="http://wayback.webarchiv.cz/wayback/query?type=urlquery&url={$resource['url']|trim}">{$resource['title']}</a></h2>
					<p><span class="italic">{$resource['url']|trim|replace:'http://',''|replace:'https://',''}</span> <span class="blue">[</span><a href="{$resource['url']}">{if $lang == 'cs'}aktuální verze{else}current version{/if}</a><span class="blue">]</span></p>
					{if $resource['annotation']}<p>{$resource['annotation']}</p>{/if}
					{if $resource['publisher']}<p>{if $lang == 'cs'}Vydavatel:{else}Publisher:{/if} {$resource['publisher']->name}</p>{/if}
					{if $resource['keywords']->count() > 0}
						<ul class="inline-list">
							{foreach $resource['keywords'] as $keyword}
								<li><a href="{plink keywordResults, 'keyword'=>$keyword->keyword->id}">{$keyword->keyword->keyword}</a>{sep}, {/sep}</li>
							{/foreach}
						</ul>
					{/if}

				</div>
			</div>

		{/foreach}

	{/if}

	<div class="row">
		<div class="col-md-12">
			{control vp}
		</div>
	</div>

