{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %} {{ voting_round }} {% endblock %}
{% block page_header %}
    {% trans 'Voting round' %}: <a href="{{ voting_round.source.get_absolute_url }}">{{ voting_round.source }}</a>
{% endblock %}

{% block content %}
    <div class="progress">
        {% if voting_round.round_open %}
            {% for css, value in voting_round.get_status_bar %}
                <div class="progress-bar progress-bar-{{ css }}" style="width: {{ value|safe }}%"></div>
            {% endfor %}
        {% else %}
            <div class="progress-bar progress-bar-{{ voting_round.get_css_class }}" style="width: 100%"></div>
        {% endif %}

    </div>

    <div class="col-md-3 col-sm-6">
        <h3>{% trans 'Info' %}</h3>
        {% blocktrans with source=voting_round.source source_created=voting_round.source.created|naturaltime %}
            <p>
                <b>{{ source }}</b> was added to system
                <b>{{ source_created }}</b>. This voting round determines
                whether {{ source }} will be archived
                or die in the shadows of unarchived internet.
            </p>
        {% endblocktrans %}
        {% if voting_round.round_open %}
            {% blocktrans with round_created=voting_round.created|naturaltime %}
                <p>
                    This voting round opened <b>{{ round_created }}</b>.
                    Remember you have the power to change how future
                    generations remember us. Cast a vote!
                </p>
            {% endblocktrans %}
        {% else %}
            {% blocktrans with resolved_by=voting_round.resolved_by status=voting_round.get_state_display round_closed=voting_round.date_resolved|naturaltime %}
                <p>
                    Our hero <b>{{ resolved_by }}</b> resolved this
                    <b>{{ round_closed }}</b>.
                    The final decision is to <b>{{ status }}</b>.
                </p>
            {% endblocktrans %}
        {% endif %}
        {% if voting_round.postponed_until %}
            <p>
                {% trans 'Voting round will be reopened on' %} {{ voting_round.postponed_until|naturalday }}
            </p>

        {% endif  %}

    </div>

    <div class="col-md-3 col-sm-6">
        <h3>{% trans 'Votes' %}:</h3>
        <ul class="list-group">
            {% for vote in voting_round.vote_set.all %}
                <li class="list-group-item list-group-item-{{ vote.get_css_class }}">{{ vote.author }}
                    <span class="pull-right">{{ vote.created|naturaltime }}</span>
                </li>
            {% empty %}
                <li class="list-group-item list-group-item-info">{% trans 'No votes yet :(' %}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-2 col-sm-6">
        <h3>{% trans 'Links to review' %}:</h3>
        <ul class="list-group">
            {% for seed in voting_round.source.seed_set.all %}
                <li class="list-group-item"><a href="{{ seed.url }}">{{ seed }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-4 col-sm-4">
        <h3>{% trans 'Vote' %}:</h3>
        <ul class="list-group">
            {% for choice in voting_round.get_choices.values %}
                <li class="list-group-item  list-group-item-{{ choice.css }}">
                    <form method="post" action="{% url 'voting:cast' pk=voting_round.pk %}">
                        {% csrf_token %}
                        <input name="action" type="hidden" value="{{ choice.value }}"/>
                        <input class="btn btn-block btn-{{ choice.css }}" type="submit" value="{{ choice.label }}"/>
                    </form>
                </li>
            {% empty %}
                <li class="list-group-item list-group-item-danger">
                    {% trans 'Sorry round closed.' %}
                </li>
            {% endfor %}
        </ul>
        {% if voting_round.round_open and perms.source.manage_sources %}
            <h3>{% trans 'Management powers:' %}</h3>
            <ul class="list-group">
            {% for choice in voting_round.get_choices.values %}
                <li class="list-group-item">
                    <form method="post" action="{% url 'voting:resolve' pk=voting_round.pk %}">
                        {% csrf_token %}
                        <input name="action" type="hidden" value="{{ choice.value }}"/>
                        <input class="btn btn-block btn-{{ choice.css }}" type="submit" value="{% trans 'Close with result' %}: {{ choice.label }}"/>
                    </form>
                </li>
            {% empty %}
                <li class="list-group-item list-group-item-danger">
                    {% trans 'Sorry round closed.' %}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-xs-12 col-md-12">
        <h2>{% trans 'Comments' %}</h2>
        {% include 'bootstrap_comments.html' with comments=comments form=comment_form %}
    </div>
{% endblock %}
