{% extends "base_www.html" %}
{% load i18n thumbnail %}

{% block title %}{{collection}}{% endblock title %}


{% block content %}
	<section class="collection collection-detail">
		<div class="container">
			<h1>{{ collection }}</h1>

			<br>
			{% trans "Klíčová slova sklizně" %}:
			<ul class="inline-list">
				{% for keyword in collection.keywords.all %}
					<li><a href="{{ keyword.www_url }}">{{ keyword }}</a>{% include "includes/comma.html" %}</li>
				{% endfor %}
			</ul>
			<hr>

			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 annotation">
							{% if collection.image %}
								<div class="item-visual">
									<div class="img-wrapper thumb">
			                            {% thumbnail collection.image "206x156" crop="center" as im %}
			                                <img src="{{ im.url }}" class="aspect-ratio" width="{{ im.width }}" height="{{ im.height }}">
			                            {% endthumbnail %}
									</div>	
								</div>	
							{% endif %}
						<br>
						{{ collection.annotation|safe }}

				<br>
				<h2>
				{% for attachment in collection.attachment_set.all %}
					<a href="{{ attachment.file.url }}">{{ attachment.get_extension }}</a>{% include "includes/comma.html" with separator=" /" %}
                {% endfor %}		
				</h2>

				</div>
				<div class="col-md-8 col-sm-6 col-lg-8 sources">
					{% for source in source_paginator %}
						<div class="row">
							<div class="col-md-12 item-textual">
								<h2><a href="{{ source.url }}">{{ source }}</a></h2>
								<p>
									<span class="italic">{{ source.stripped_main_url }}</span> 
									<span class="blue">[</span><a href="{{ source.wayback_url }}">{% if lang == "cs" %}archivovaná verze{% else %}current{% endif %}</a><span class="blue">]</span>
								</p>
							</div>
						</div>
					{% endfor %}	
				</div>
			</div>
		</div>

		{% include "includes/paginator.html" with paginator=source_paginator %}
	</section>

{% endblock %}
