{% extends "base_www.html" %}
{% load i18n thumbnail %}

{% block title %}{{collection.title}}{% endblock title %}

{% block content %}
<section class="collection collection-detail">
    <div class="container">
        <h1>{{ collection.title }}</h1>

        <br>
        {% trans "Klíčová slova sklizně" %}:
        <ul class="inline-list">
            {% for keyword in collection.keywords.all %}
            <li><a href="{{ keyword.www_url }}">{{ keyword }}</a>{% include "includes/comma.html" %}</li>
            {% endfor %}
        </ul>
        <hr>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 annotation">
                {% if collection.image_file_exists %}
                <div class="item-visual">
                    <div class="img-wrapper thumb">
                        {% thumbnail collection.image "660x500" crop="center" as im %}
                        <img src="{{ im.url }}" class="aspect-ratio" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    </div>
                </div>
                {% endif %}
                <br>
                {{ collection.annotation|safe }}

                <br>
                <h2>
                    {% for attachment in collection.attachment_set.all %}
                    <a
                        href="{{ attachment.file.url }}">{{ attachment.get_extension }}</a>{% include "includes/comma.html" with separator=" /" %}
                    {% endfor %}
                    <br />
                </h2>
                <a href="{% url 'www:collection_csv' object.slug %}" class="mt-3"
                    target="_blank">{% trans "Seznam URL v CSV" %}</a>

            </div>
            <div class="col-md-8 col-sm-6 col-lg-8 sources">
                {% for source in source_paginator %}
                <div class="row">
                    <div class="col-md-12 item-textual">
                        {% if source.is_public %}
                        <h2><a href="{{ source.wayback_url }}" target="_blank">{{ source }}</a></h2>
                        {% else %}
                        <h2 class="passive_link"><a href="{{ source.wayback_url }}" target="_blank">{{ source }}</a></h2>
                        {% endif %}
                        <p>
                            <span class="italic">{{ source.stripped_main_url }}</span>
                            <span class="blue">[</span><a href="{{ source.url }}"
                                target="_blank">{% if lang == "cs" %}aktuální
                                verze{% else %}current{% endif %}</a><span class="blue">]</span>
                        </p>
                    </div>
                </div>
                {% endfor %}
                {% for source in custom_seeds %}
                <div class="row">
                    <div class="col-md-12 item-textual">
                        <h2 class="passive_link"><a href="{{ source.wayback_url }}" target="_blank">{{ source.name }}</a></h2>
                        <p>
                            <span class="italic">{{ source.url }}</span>
                            <span class="blue">[</span><a href="{{ source.url }}"
                                target="_blank">{% if lang == "cs" %}aktuální
                                verze{% else %}current{% endif %}</a><span class="blue">]</span>
                        </p>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>

    {% include "includes/paginator.html" with paginator=bigger_paginator %}
</section>

{% endblock %}