{% extends "base_www.html" %}
{% load i18n thumbnail %}

{% block title %}{% if lang == "cs" %}Tématické sbírky{% else %}Topic collections{% endif %}{% endblock title %}


{% block content %}
<section>
	<div class="container">

		{% if lang == "cs" %}
			<h1><a href="{% url "www:index" %}">Webarchiv<span class="false-link-underline-blue"></span></a> uchovává český web</h1><br>
			<p>Pro první seznámení s webarchivem pokračujte <a href="{% url "www:more_about" %}">zde</a></p>
		{% else %}
			<h1><a href="{% url "www:index" %}">Webarchiv<span class="false-link-underline-blue"></span></a> preserves Czech web</h1><br>
			<p>For basic informations about Webarchiv visit our <a href="{% url "www:more_about" %}">introduction</a></p>
		{% endif %}
		<br>
		<hr>
	</div>

</section>

	<section id="collection-items">
		<div class="container collection">
			<span class="pull-right switch_style">{% include "includes/switch_item_style.html" %}</span>
			{% if lang == "cs" %}
				<h2>Tematické sbírky</h2>
				<p>Tematické sbírky jsou monotematické soubory webových dokumentů. V rámci tematických sklizní sledujeme především takové děje, které doprovází celospolečenská debata a je u nich tedy předpoklad, že zaujmou významnější místo z hlediska dějin České republiky. Cíleně vybíráme události, které mají širší ohlas v prostředí internetu. Monitorujeme očekávané akce (např. volby), ale i nenadálé situace (např. povodně).</p>
			{% else %}
				<h2>Topic collections</h2>
				<p>Topic collections are collections of resources which are related to certain event or topic.</p>
			{% endif %}
			<div class="padding20"></div>


			{% ifequal request.session.list_type "visual"  %}
				{% include "topic_collections/items_visual.html" %}
			{% else %}
				{% include "topic_collections/items_textual.html" %}
			{% endifequal %}


		</div>

	{% include "includes/paginator.html" with paginator=collections %}
	</section>

{% endblock %}
