{% extends 'base.html' %}
{% load i18n %}

{% block title %} {{ source }} {% endblock %}
{% block page_header %} {{ source }} {% endblock %}

{% block content %}
    <div class="col-xs-4 col-md-6 well">
        <dl class="dl-horizontal">
          <dt>{% trans 'Owner' %}</dt>
          <dd>{{ source.owner }}</dd>
          <dt>{% trans 'Created by' %}</dt>
          <dd>{{ source.created_by }}</dd>
          <dt>{% trans 'Name' %}</dt>
          <dd>{{ source.name }}</dd>
          <dt>{% trans 'Comment' %}</dt>
          <dd>{{ source.comment }}</dd>
          <dt>{% trans 'Web propsal' %}</dt>
          <dd>{{ source.web_proposal }}</dd>
          <dt>{% trans 'Publisher' %}</dt>
          <dd>{{ source.publisher }}</dd>
          <dt>{% trans "Specific contact" %}</dt>
          <dd>{{ source.special_contact }}</dd>
          <dt>{% trans 'Status' %}</dt>
          <dd>{{ source.get_state_display }}</dd>
          <dt>{% trans 'Conspectus' %}</dt>
          <dd>{{ source.conspectus }}</dd>
          <dt>{% trans 'Sub conspectus' %}</dt>
          <dd>{{ source.sub_conspectus }}</dd>
          <dt>{% trans 'Created at' %}</dt>
          <dd>{{ source.created }}</dd>
          <dt>{% trans 'Last update' %}</dt>
          <dd>{{ source.last_changed }}</dd>
        </dl>
    </div>


{% endblock %}