{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% block title %}
    {{ view.get_title }}
{% endblock %}

{% block page_header %}
{{ view.get_title }} <span class="pull-right">{{ wizard.steps.step1 }} / {{ wizard.steps.count }}</span>
{% endblock %}

{% block extrahead %}
    <script>
        {% include 'category_completion.js' %}
        category_completion('#id_source-category', '#id_source-sub_category');
    </script>
{% endblock %}


{% block content %}
    <form class="" method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        {{ wizard.management_form }}
        <input type="submit" class="btn btn-primary btn-block"/>
    </form>
{% endblock %}