{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {{ view.get_title }}
{% endblock %}

{% block page_header %}
{{ view.get_title }} <span class="pull-right">{{ wizard.steps.step1 }} / {{ wizard.steps.count }}</span>
{% endblock %}

{% block extrahead %}
    {% include 'autocomplete_light/static.html' %}
    <script>
        $(document).ready(function() {
            $('body').on('change', '.autocomplete-light-widget select[name$=category]', function() {
                var sub_category_select = $('.autocomplete-light-widget select[name$=sub_category]');
                var sub_category_widget = sub_category_select.parents('.autocomplete-light-widget');

                value = $(this).val();

                if (value) {
                    sub_category_widget.yourlabsWidget().autocomplete.data = {
                        'category_id': value[0]
                    };
                }

                console.log($(this), 'changed to', value);
            })
        });

    </script>
{% endblock %}


{% block content %}
    <form class="" method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        {{ wizard.management_form }}
        <input type="submit" class="btn btn-primary btn-block"/>
    </form>
{% endblock %}