{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}


{% block title %}
    {{ view.get_title }}
{% endblock %}

{% block page_header %}
    {{ view.get_title }} <span class="pull-right">{{ wizard.steps.step1 }} / {{ wizard.steps.count }}</span>
{% endblock %}


{% block content %}
    <form class="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}

        <div id="seed_holder">
            {{ form.management_form }}
            {% if form.non_form_errors %}
              <div class="non-field-errors">
                {% for err in form.non_form_errors %}
                  <div class="alert alert-danger">{{ err }}</div>
                {% endfor %}
              </div>
            {% endif %}
        </div>
        <input type="button" class="btn btn-block" id="add_seed" value="{% trans 'Add seed url' %}">
        <input type="submit" class="btn btn-primary btn-block"/>
    </form>

    <div style="display: none" id="seed_empty_form">
        {% bootstrap_form form.empty_form %}
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        // django stores info about number of forms in management forms
        // so we have to update these values

        var prefix = "{{ form.prefix }}";
        var n_index = 0;
        var new_form_content = $('#seed_empty_form').html();
        function new_seed() {
            var new_content = new_form_content;
            n_index += 1;
            $('#seed_holder').append(
                new_content.replace(/__prefix__/g, n_index)
            );
        }

        $('#add_seed').click(function () {
            new_seed();
        });

        // initial seeds:
        for (i=0; i>7; i++) {
            new_seed();
        }


    </script>
{% endblock %}