{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}


{% block page_header %}
    {{ view.title }} <span class="pull-right">{{ wizard.steps.step1 }} / {{ wizard.steps.count }}</span>
{% endblock %}


{% block content %}
    <form class="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}

        <div id="seed_holder">
            {% bootstrap_formset form %}
        </div>
        <input type="button" class="btn btn-block" id="add_seed" value="{% trans 'Add seed url' %}">
        <input type="submit" class="btn btn-primary btn-block"/>
    </form>

    <div style="display: none" id="seed_empty_form">
        {% bootstrap_form form.empty_form %}
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        // django stores info about number of forms in management forms
        // so we have to update these values

        var prefix = "{{ seed_formset.prefix }}";
        var total_form_id = '#id_' + prefix + '-TOTAL_FORMS';
        $('#add_seed').click(function () {
            var new_form_content = $('#seed_empty_form').html();
            var n_index = parseInt($(total_form_id).val());
            var new_content = new_form_content;
            n_index += 1;
            $(total_form_id).val(parseInt(n_index));
            $('#seed_holder').append(
                new_content.replace(/__prefix__/g, n_index)
            );
        });
    </script>
{% endblock %}