{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {{ view.get_title }}
{% endblock %}

{% block page_header %}
{{ view.get_title }} <span class="pull-right">{{ wizard.steps.step1 }} / {{ wizard.steps.count }}</span>
{% endblock %}


{% block content %}
    <form class="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {{ wizard.management_form }}
        <input type="submit" class="btn btn-primary btn-block"/>
    </form>
{% endblock %}