{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {{ view.get_title }}
{% endblock %}

{% block page_header %}
    {{ view.get_title }} <span class="pull-right">{{ wizard.steps.step1 }} / {{ wizard.steps.count }}</span>
{% endblock %}


{% block content %}
    <h4>{% trans 'Potential duplicities' %}:</h4>
    <ul>
        {% for source in view.get_duplicities %}
            <li>
                <a href="{{ source.get_absolute_url }}" target="_blank">{{ source }}</a>, 
                {% trans 'Publisher' %} <a href="{{ source.publisher.get_absolute_url }}" target="_blank">{{ source.publisher }}</a>
                <ul>
                {% for seed in source.seed_set.all %}
                    <li>{{ seed.url }}</li>
                {% endfor %}
                </ul>
            </li>
        {% empty %}
            {% trans 'Sorry, we could not find any duplicities' %}
        {% endfor %}
    </ul>
    <form class="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {{ wizard.management_form }}
        <input type="submit" class="btn btn-primary btn-block"/>
    </form>
{% endblock %}