{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
    {% trans 'Edit' %} {{ object }}
{% endblock %}

{% block page_header %}
    {% trans 'Edit' %} {{ object }}
{% endblock %}

{% block extrahead %}
    {% include 'autocomplete_light/static.html' %}
    <script>
        {% include 'category_completion.js' %}
        category_completion('#id_category', '#id_sub_category');
        category_completion('#id_publisher', '#id_publisher_contact');
    </script>
{% endblock %}

{% block content %}
    <form class="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Send' %}" />
    </form>
{% endblock %}