{% extends "edit_form.html" %}
{% load i18n %}

{% block page_header %}
{{ block.super }}
{% if user.is_superuser %}
<a href="" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#seedDeleteModal"
    style="margin-left: 2rem">
    {% trans 'Delete' %}
</a>
<div class="modal fade" id="seedDeleteModal" tabindex="-1" role="dialog" aria-labelledby="seedDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seedDeleteModalLabel">{% trans 'Proceed with deletion?' %}</h5>
            </div>
            <div class="modal-body">
                <p>{% trans 'If you proceed the seed will be deleted forever.' %}</p>

                <form method="post" action="{% url 'source:seed_delete' pk=seed.pk %}">
                    {% csrf_token %}
                    <input class="btn btn-block btn-danger" type="submit" value="{% trans 'Delete' %}" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-success"
                    data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock page_header %}