{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %} {{ source }} {% endblock %}
{% block page_header %} {{ source }}{% endblock %}


{% block content %}
    <div class="col-md-6 col-sm-3">
    <h4>{% trans 'Info' %}</h4>
        <table class="table table-striped">

            <tbody>
                <tr>
                    <td>{% trans 'Status' %}</td>
                    <td>{{ source.get_state_display }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Owner' %}</td>
                    <td>{{ source.owner.get_full_name }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Created by' %}</td>
                    <td>{{ source.created_by.get_full_name }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Created at' %}</td>
                    <td>{{ source.created|naturaltime }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Proposed by visitor' %}</td>
                    <td>{{ source.web_proposal|yesno }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Publisher' %}</td>
                    <td><a href="{{ source.publisher.get_absolute_url }}">{{ source.publisher }}</a></td>
                </tr>
                <tr>
                    <td>{% trans 'Specific contact' %}</td>
                    <td>{{ source.specific_contact }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Comment' %}</td>
                    <td>{{ source.comment }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Cospectus' %}</td>
                    <td>{{ source.get_conspectus_display }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Sub cospectus' %}</td>
                    <td>{{ source.get_sub_conspectus_display }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Alef id' %}</td>
                    <td>{{ source.alef_number }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-3 col-sm-3">
    <h4>{% trans 'Seeds' %}</h4>
        <ul class="list-group">
            {% for seed in source.seed_set.all %}
                <li class="list-group-item"><a href="{{ seed.url }}">{{ seed }}</a></li>
            {% endfor %}
        </ul>
    </div>


    <div class="col-md-3 col-sm-3 pull-right">
        <h4>{% trans 'Voting rounds' %}</h4>
        {% for voting_round in source.votinground_set.all %}
            <a href="{{ voting_round.get_absolute_url }}" class="btn btn-block btn-{{ voting_round.get_css_class }}">{{ voting_round }}</a>
        {% endfor %}

        <h4>{% trans 'Links' %}:</h4>
            <a href="{% url 'source:history' pk=source.pk %}" class="btn btn-primary btn-info btn-block">{% trans 'History' %}</a>
            <a href="{% url 'source:edit' pk=source.pk %}" class="btn btn-primary btn-warning btn-block">{% trans 'Edit' %}</a>
        <h4>{% trans 'Contracts' %}:</h4>
        {% for contract in source.contract_set.all %}
            <a href="" class="btn btn-primary btn-block btn-{{ contract.get_style }}">{{ contract }}</a>
        {% empty %}
            <p>Sorry no contracts yet.</p>
        {% endfor %}
        
    
    
    </div>

    <div class="col-xs-12 col-md-12">
        <h2>{% trans 'Comments' %}</h2>
        {% include 'bootstrap_comments_threaded.html' with comments=comments form=comment_form %}
    </div>
{% endblock %}
