{% extends 'base.html' %}
{% load i18n bootstrap3 thumbnail static core %}

{% block title %} {{ source }} {% endblock %}
{% block page_header %} {{ source }}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.15.2/css/blueimp-gallery.min.css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-image-gallery.min.css' %}">
{% endblock %}

{% block extrajs %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="{% static 'js/bootstrap-image-gallery.min.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="col-md-6 col-sm-5">

        <h4>{% trans 'Info' %}</h4>
        <table class="table table-striped">

            <tbody>
                <tr>
                    <td>{% trans 'Status' %}</td>
                    <td>{{ source.get_state_display }}</td>
                </tr>
                {% if source.screenshot %}
                    <tr>
                        <td>{% trans 'Screenshot' %}</td>
                        <td>
                            {% if source.screenshot_file_exists %}
                                {% thumbnail source.screenshot "100x100" crop="center" as im %}
                                    <a href="{{ source.screenshot.url }}" target="_blank">
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    </a>
                                {% endthumbnail %}
                            {% else %}
                                {% trans 'There is a screenshot associated with this source but the file does not exist.' %}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td>{% trans 'Dead' %}</td>
                    <td>{{ source.dead_source|fa_boolean }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Priority source' %}</td>
                    <td>{{ source.priority_source|fa_boolean }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Owner' %}</td>
                    <td>{{ source.owner.get_full_name }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Frequency' %}</td>
                    <td>{{ source.get_frequency_display }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Created by' %}</td>
                    <td>{{ source.created_by.get_full_name }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Created at' %}</td>
                    <td>{{ source.created }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Suggested by' %}</td>
                    <td>{{ source.get_suggested_by }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Publisher' %}</td>
                    <td><a href="{{ source.publisher.get_absolute_url }}">{{ source.publisher }}</a></td>
                </tr>
                <tr>
                    <td>{% trans 'Publisher contact' %}</td>
                    <td>
                        {{ source.publisher_contact }} <br/>
                        {{ source.publisher_contact.email }}
                    </td>
                </tr>
                <tr>
                    <td>{% trans 'Comment' %}</td>
                    <td>{{ source.comment }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Annotation' %}</td>
                    <td>{{ source.annotation }}</td>
                </tr>
                <tr>
                    <td>{% trans 'keywords' %}</td>
                    <td>{% for keyword in source.keywords.all %}
                        <a href="{{ keyword.www_url }}">{{ keyword }}</a>{% include "includes/comma.html" %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans 'Category' %}</td>
                    <td>{{ source.category }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Sub category' %}</td>
                    <td>{{ source.sub_category }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Aleph id' %}</td>
                    <td><a href="http://aleph.nkp.cz/F/?func=direct&doc_number={{ source.aleph_id }}&local_base=NKC">{{ source.aleph_id }}</a></td>
                </tr>
                <tr>
                    <td>{% trans 'ISSN' %}</td>
                    <td>{{ source.issn }}</td>
                </tr>
                <tr>
                    <td>{% trans 'QA checks' %}</td>
                    <td>
                        {% for qa in source.qualityassurancecheck_set.all %}<a href="{{ qa.get_absolute_url }}">{{ qa.created }}</a>{% if not forloop.last%}, {% endif %}{% endfor %}
                    </td>
                </tr>


                {% with source.get_legacy_url as legacy_url %}
                    {% if legacy_url %}
                        <tr>
                            <td>{% trans 'WA-admin link' %}</td>
                            <td><a href="{{ legacy_url }}" target="_blank">{% trans 'Legacy url' %}</a></td>
                        </tr>
                    {% endif %}
                {% endwith %}
                <tr>
                    <td>{% trans 'WWW link' %}</td>
                    <td><a href="{{ source.get_public_url }}" target="_blank">{{ source.get_public_url }}</a></td>
                </tr>
                <tr>
                    <td>CC Licence</td>
                    <td>
                    {% if source.has_creative_commons %}
                        {% if source.get_creative_commons_url %}
                            <a href="{{source.get_creative_commons_url}}">{{source.get_creative_commons_type}}</a>
                        {% else %}
                            {{source.get_creative_commons_type}}
                        {% endif %}
                    {% else %}
                        {% trans 'No' %}
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-3 col-sm-5">
    <h4>{% trans 'Seeds' %}</h4>
        <ul class="list-group">
            {% for seed in source.seed_set.all %}
                <li class="list-group-item list-group-item-{{ seed.css_class }}"{% if seed.main_seed %} style="font-weight:bold"{% endif %}>
                    <a href="{{ seed.url }}" target="_blank">{{ seed }}</a>
                    <a class="pull-right" href="{{ seed.get_edit_url }}">{% trans 'Edit' %}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'source:add_seed' pk=source.pk %}" class="btn btn-primary btn-warning btn-block">{% trans 'Add seeds' %}</a>

    </div>
    <div class="col-md-3 col-sm-5">
        <h4>{% trans 'Links' %}:</h4>
            <a href="{% url 'source:edit' pk=source.pk %}" class="btn btn-primary btn-warning btn-block">{% trans 'Edit' %}</a>
            <a href="{{ source.wakat_url }}" class="btn btn-primary btn-info btn-block">{% trans 'WA-KAT' %}</a>
            <a href="{% url 'source:history' pk=source.pk %}" class="btn btn-primary btn-info btn-block">{% trans 'History' %}</a>
            <a href="{% url 'qa:create' pk=source.pk %}" class="btn btn-primary btn-warning btn-block">{% trans 'QA check' %}</a>


            {% if user.is_superuser %}
			    <a href="" class="btn btn-primary btn-danger btn-block" data-toggle="modal" data-target="#deactivateModal">
				    {% trans 'Deactivate' %}
			    </a>
            {% endif %}


            <h4>{% trans 'Voting rounds' %}</h4>
            <form action='{% url 'voting:create' pk=source.pk %}' method='post'>
                {% csrf_token %}
                <button class="btn btn-primary btn-warning btn-block">{% trans 'Create voting round' %}</button>
            </form>
            <br>
            {% for voting_round in source.votinground_set.all %}
                <a href="{{ voting_round.get_absolute_url }}" class="btn btn-block btn-{{ voting_round.get_css_class }}">{{ voting_round }}</a>
            {% endfor %}

        <h4>{% trans 'Contracts' %}:</h4>
        {% for contract in source.contract_set.all %}
            <a href="{{ contract.get_absolute_url }}" class="btn btn-primary btn-block btn-{{ contract.get_style }}">{{ contract }}</a>
        {% empty %}
            <p>{% trans 'Sorry no contracts yet.' %}</p>
        {% endfor %}
        <a href="{% url 'contracts:create' pk=source.pk %}" class="btn btn-primary btn-block">{% trans 'Create' %}</a>
        <a href="{% url 'contracts:assign' pk=source.pk %}" class="btn btn-primary btn-block">{% trans 'Assign' %}</a>
    </div>

    <div class="col-xs-12 col-md-12">
        <h2>{% trans 'Comments' %}</h2>
        {% include 'bootstrap_comments_threaded.html' with comments=comments form=comment_form %}
    </div>

    {% include 'bootstrap_gallery.html' %}

	<div class="modal fade" id="deactivateModal" tabindex="-1" role="dialog" aria-labelledby="deactivateModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="deactivateModalLabel">{% trans 'Proceed with deletion?' %}</h5>
	      </div>
	      <div class="modal-body">
		      <p>{% trans 'If you proceed it will be very hard to reactivate this source.' %}</p>

            <form method="post" action="{% url 'source:delete' pk=source.pk %}">
                {% csrf_token %}
                <input class="btn btn-block btn-danger" type="submit" value="{% trans 'Deactivate' %}"/>
            </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary btn-success" data-dismiss="modal">{% trans 'Close' %}</button>
	      </div>
	    </div>
	  </div>
	</div>


{% endblock %}
