{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %} {{ source }} {% endblock %}
{% block page_header %} {{ source }} {% endblock %}

{% block content %}
    <div class="col-xs-4 col-md-4">
        <dl class="dl-horizontal">
          <dt>{% trans 'Owner' %}</dt>
          <dd>{{ source.owner }}</dd>
          <dt>{% trans 'Created by' %}</dt>
          <dd>{{ source.created_by }}</dd>
          <dt>{% trans 'Name' %}</dt>
          <dd>{{ source.name }}</dd>
          <dt>{% trans 'Comment' %}</dt>
          <dd>{{ source.comment }}</dd>
          <dt>{% trans 'Web propsal' %}</dt>
          <dd>{{ source.web_proposal }}</dd>
          <dt>{% trans 'Publisher' %}</dt>
          <dd>{{ source.publisher }}</dd>
          <dt>{% trans "Specific contact" %}</dt>
          <dd>{{ source.special_contact }}</dd>
          <dt>{% trans 'Status' %}</dt>
          <dd>{{ source.get_state_display }}</dd>
          <dt>{% trans 'Conspectus' %}</dt>
          <dd>{{ source.conspectus }}</dd>
          <dt>{% trans 'Sub conspectus' %}</dt>
          <dd>{{ source.sub_conspectus }}</dd>
          <dt>{% trans 'Created' %}</dt>
          <dd>{{ source.created|naturaltime }}</dd>
          <dt>{% trans 'Last update' %}</dt>
          <dd>{{ source.last_changed|naturaltime }}</dd>
        </dl>

        <h3>{% trans 'Voting rounds' %}</h3>
        {% for voting_round in source.votinground_set.all %}
            <a href="" class="btn {{ voting_round.get_btn_class }}">{{ voting_round }}</a>
        {% endfor %}
    </div>

    <div class="col-xs-12 col-md-12">
    <h2>{% trans 'Comments' %}</h2>
    {{ comment_form.as_table }}



    </div>
{% endblock %}
