{% extends 'base.html' %}
{% load i18n %}

{% block extra_header %}
<a href="{% url 'blacklists:add' %}" class="pull-right btn btn-primary btn-success">{% trans 'Add' %}</a>
{% endblock %}

{% block content %}
    {% for blacklist in blacklists %}
        <div class="panel panel-default">
          <div class="panel-heading">{{ blacklist.title }} | <a href="{% url 'blacklists:edit' blacklist.pk %}">{% trans 'Edit' %}</a></div>
          <div class="panel-body">
              {{ blacklist.url_list }}
          </div>
        </div>
    {% endfor %}
{% endblock %}