{block title}Webarchiv - {if $lang == 'cs'}památník českého internetu{else}the Museum of Czech web{/if}{/block}

{block menuItemActive1} class="active"{/block}

{block content}

	<section id="main-search">
		<div class="container">

			<div class="row">
				<div class="col-md-8 col-md-offset-2">

					<div class="main-header">
						<h1><a href="{plink default}">Webarchiv<span class="false-link-underline-blue"></span></a></h1>
						{if $lang == 'cs'}
							<p class="italic">památník českého internetu, <a href="{plink moreAbout}">více</a></p>
						{else}
							<p class="italic">the Museum of Czech web, <a href="{plink moreAbout}">more</a></p>
						{/if}
					</div>

					<div class="searchbox-wrapper-outer">

						<div class="searchbox-wrapper">

							{form bigSearchBox}
								{input query class => 'query'}
								{input submit class => 'submit'}
							{/form}

						</div>

						{if $lang == 'cs'}
							<p class="italic">hledejte „webarchiv.cz“ nebo „webarchiv“, <a href="{plink advancedSearch}">pokročilé</a></p>
						{else}
							<p class="italic">search „webarchiv.cz“ or „webarchiv“, <a href="{plink advancedSearch}">advanced</a></p>
						{/if}
					</div>

				</div>
			</div>
		</div>
	</section>


	<section id="news">
		<div class="container">

			<div class="row">

				{if $homepageNew}
					<div class="col-md-4 col-sm-6">

						<div class="news-column left-news">

							<div class="visible-xs">
								<hr>
							</div>

							{if $lang=="cs"}
								{!$homepageNew->text_cs}
							{else}
								{!$homepageNew->text_en}
							{/if}

						</div>
					</div>
				{/if}

				<div class="col-md-4 col-sm-6">

					<div class="news-column">

						<div class="visible-xs">
							<hr><br><br>
						</div>

						{if $lang=='cs'}
							<p>Výběr z katalogu stránek, <br class="visible-md visible-lg"><a href="{plink catalog}">více v oborovém třídění</a></p>
						{else}
							<p>Selection of contracted websites, <br class="visible-md visible-lg"><a href="{plink catalog}">see the full list</a></p>
						{/if}

						{foreach $selectedResources as $selectedResource}

							<h2><a href="http://wayback.webarchiv.cz/wayback/query?type=urlquery&url={$selectedResource['url']}">{$selectedResource['title']}</a></h2>
							{if $selectedResource['annotation']}<p>{$selectedResource['annotation']}</p>{/if}
							{if $selectedResource['publisher']}<p>Vydavatel: {$selectedResource['publisher']}</p>{/if}
							{if $selectedResource['keywords']->count() > 0}
								<ul class="inline-list">
									{foreach $selectedResource['keywords'] as $keyword}
										<li><a href="{plink keywordResults, 'keyword'=>$keyword->id}">{$keyword->keyword}</a>{sep}, {/sep}</li>
									{/foreach}
								</ul>
							{/if}

							{sep}<hr>{/sep}

						{/foreach}
					</div>

					<div class="visible-sm visible-xs">
						<br>
					</div>

				</div>

				<div class="clearfix visible-sm"></div>

				<div class="col-md-4 stats">

					<div class="news-column">

						<div class="visible-sm visible-xs clear">
							<hr><br>
						</div>

						{if $lang == 'cs'}
							{ifset $webarchiveSize}
								{if trim($webarchiveSize) != ""}
									<p><a href="{plink default}">Webarchiv</a> k {? echo date('j. n. Y');} obsahuje <span class="h1-size">{$webarchiveSize|trim}</span> dat. První dokument byl archivován 3. 9. 2001.</p>
									<hr><br>
								{/if}
							{/ifset}
							<p>Celkem jsme s autory uzavřeli <span class="h1-size">{$resourceCount}</span> smluv. Poslední aktuální smlouvy:</p>
						{else}
							<p><a href="{plink default}">Webarchiv</a> contains to {? echo date('j. n. Y');} <span class="h1-size">{$webarchiveSize|trim}</span> data. The first website was harvested in 3. 9. 2001.</p>
							<hr><br>
							<p>We concluded <span class="h1-size">{$resourceCount}</span> contracts with a publishers at the moment. The last contracts are for these websites:</p>
						{/if}

						{foreach $lastResources as $lastResource}
							<ul>
								<li><a href="http://wayback.webarchiv.cz/wayback/query?type=urlquery&url={$lastResource->url}">{$lastResource->title}</a>{sep}, {/sep}</li>
							</ul>
						{/foreach}
					</div>

				</div>

			</div>
		</div>
	</section>


{/block}

