{block title}Certifikát o archivaci stránek | {include #parent}{/block}

{block content}


	<section>
		<div class="container">

			<h2>Certifikát o archivaci stránek</h2>
			<p>Tyto stránky jsou pravidelně archivovány Národní knihovnou ČR pro svou kulturní, vzdělávací, vědeckou, výzkumnou nebo jinou informační hodnotu za účelem dokumentace autentického vzorku českého webu. Jsou součástí kolekce českých webových stránek, které NK ČR hodlá dlouhodobě uchovávat a zpřístupňovat pro budoucí generace. Jejich záznam je součástí České národní bibliografie a katalogu NK ČR.  </p>
			
			<h2>Vyloučení odpovědnosti: </h2>
			<p>Národní knihovna ČR není odpovědná za věcný obsah archivovaných stránek. Zařazení stránek do archivace v žádném případě neznamená souhlas NK ČR s jejich obsahem ani nevyjadřuje podporu autorům těchto stránek či jejich myšlenkám a názorům.</p>
			
			<h2>English version</h2>
			<p>This website is regularly archived by the National Library of the Czech Republic for its cultural, educational, scientific, research or other values with the aim of documenting an authentic sample of the Czech web. It belongs to a collection of Czech websites to be preserved by the National Library and made available for posterity. Its record is included in the Czech National Bibliography and the National Library catalogue.</p>  
			
			<h2>Disclaimer:</h2>  
			<p>The National Library of the Czech Republic is not responsible for content of the archived website. By archiving the website, the National Library does not endorse its content nor expresses its support to the website authors, their ideas or opinions. </p>

		</div>
	</section>

{/block}

  

