{block title}{% if lang == "cs" %}Pomozte nám vylepšit Webarchiv{% else %}Give us your feedback{% endif %} | {include #parent}{% endblock %}

{block menuItemActive4} class="active"{% endblock %}

{% block content %}

	{include ../commonParts/add.latte}

	<section id="add-web">
		<div class="container">

			<h2>Co se pokazilo?</h2>

			{form feedbackWebForm}

				{foreach $flashes as $flash}
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="flash {$flash->type}">{$flash->message}</div>
						</div>
					</div>
				{/foreach}

				{control $form errors}

				<div class="row">
					<div class="col-sm-2 col-md-3 no-right-padding">
						<span class="form-label">{label name /}</span>
					</div>
					<div class="col-sm-8 col-md-6">
						{input name class => 'text'}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 col-md-3 no-right-padding">
						<span class="form-label">{label note /}</span>
					</div>
					<div class="col-sm-8 col-md-6">
						{input note class => 'textarea'}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						{input submit class => 'submit'}
					</div>
				</div>
			{/form}

			<br><br>

			<p>Velmi děkujeme za zaslání zpětné vazby. Naši kurátoři prověří každý podnět, pod chcete aby se ozvali, vyplňte prosím kontakt. Odesláním zpětné vazby pomáháte vylepšit český webový archiv. Ještě jednou děkujeme!</p>


		</div>
	</section>

{% endblock %}

