{block title}{if $lang == 'cs'}Grafické materiály{else}Banners{/if} | {include #parent}{/block}

{block menuItemActive2} class="active"{/block}

{block content}

	{include ../commonParts/about.latte}

	{if $lang == 'cs'}{var img_alt = "Webarchiv certifikát"}{else}{var img_alt = "Webarchiv certificate"}{/if}

	<section id="graphics">
		<div class="container">

			<h2>{if $lang == 'cs'}Grafické materiály{else}Banners{/if}</h2>

			{if $lang == 'cs'}
				<p>Pokud jste pyšní, že se vaše stránky webarchivují, udělejte nám radost a dejte si na svůj web náš certifikát:</p>
			{else}
				<p>If you are proud your websites are webarchived, make us pleasure and place our certificate on your site:
			{/if}

			<div class="row">
				<div class="col-lg-2">
					<p>{if $lang == 'cs'}certifikát{else}certificate{/if}</p>
				</div>
				<div class="col-lg-4">
					{if $lang == 'cs'}
						<p>varianta bílý podklad<br>(pro užití na bílém nebo světlém podkladu)</p>
					{else}
						<p>white style<br>(for usage in white or light background)</p>
					{/if}
					<br><img src="{$basePath}/images/graphics/webarchiv-certifikat-01.png" alt="{$img_alt}">
					{if $lang == 'cs'}
						<br><a onclick="return !window.open(this, 'kod', 'toolbar=no, menubar=no, directories=no, resizable=yes, status=no, width=600, height=210, top=200, left=50')" href="{$basePath}/download/embed.php?img=http://webarchiv.cz/images/webarchiv-certifikat-01.png">Zdrojový kód obrázku</a>
					{else}
						<br><a onclick="return !window.open(this, 'kod', 'toolbar=no, menubar=no, directories=no, resizable=yes, status=no, width=600, height=210, top=200, left=50')" href="{$basePath}/download/embed.php?img=http://webarchiv.cz/images/webarchiv-certifikat-01.png">embed code</a>
					{/if}

				</div>
				<div class="col-lg-4">
					{if $lang == 'cs'}
						<p>varianta modrý podklad<br>(pro užití na barevném nebo tmavém podkladu)</p>
					{else}
						<p>blue style<br>(for usage in colored or dark background)</p>
					{/if}
					<br><img src="{$basePath}/images/graphics/webarchiv-certifikat-02.png" alt="{$img_alt}">
					{if $lang == 'cs'}
						<br><a onclick="return !window.open(this, 'kod', 'toolbar=no, menubar=no, directories=no, resizable=yes, status=no, width=600, height=210, top=200, left=50')" href="{$basePath}/download/embed.php?img=http://webarchiv.cz/images/webarchiv-certifikat-02.png">Zdrojový kód obrázku</a>
					{else}
						<br><a onclick="return !window.open(this, 'kod', 'toolbar=no, menubar=no, directories=no, resizable=yes, status=no, width=600, height=210, top=200, left=50')" href="{$basePath}/download/embed.php?img=http://webarchiv.cz/images/webarchiv-certifikat-02.png">embed code</a>
					{/if}
				</div>
			</div>

			<div class="row">
				<div class="col-lg-2">
					<p>{if $lang == 'cs'}naše logo<br>v křivkách{else}our vector<br>logo{/if}</p>
				</div>
				<div class="col-lg-4">
					<br><br>
					<img src="{$basePath}/images/graphics/webarchiv-logo-color.png" alt="{$img_alt}">
					<br>
						<br><a  href="{$basePath}/images/graphics/webarchiv-logo-color-rgb.eps">download (RGB)</a><br><a  href="{$basePath}/images/graphics/webarchiv-logo-color-cmyk.eps">download (CMYK)</a>
				</div>
				<div class="col-lg-4">
					<br><br>
					<img src="{$basePath}/images/graphics/webarchiv-logo-black.png" alt="{$img_alt}">
					<br>
						<br><a  href="{$basePath}/images/graphics/webarchiv-logo-color-rgb.eps">download (RGB)</a><br><a  href="{$basePath}/images/graphics/webarchiv-logo-color-cmyk.eps">download (CMYK)</a>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-2">
					<p>{if $lang == 'cs'}bannery{else}banners{/if}</p>
				</div>
				<div class="col-lg-9">
					<p>468 x 60 px</p>
					<br>
					<img src="{$basePath}/images/graphics/webarchiv-ico468x60-01.png" alt="{$img_alt}">
					<br><br>
					<img src="{$basePath}/images/graphics/webarchiv-ico468x60-02.png" alt="{$img_alt}">
					<br><br>
					<img src="{$basePath}/images/graphics/webarchiv-ico468x60-03.png" alt="{$img_alt}">
					<br><br>
					<img src="{$basePath}/images/graphics/webarchiv-ico468x60-04.png" alt="{$img_alt}">
				</div>
			</div>

			<div class="row">
				<div class="col-lg-2 col-lg-offset-2">
					<p>99 x 89 px</p>
					<br>
					<img src="{$basePath}/images/graphics/webarchiv-ico99x89-01.png" alt="{$img_alt}">
				</div>
				<div class="col-lg-2">
					<br><br>
					<img src="{$basePath}/images/graphics/webarchiv-ico99x89-02.png" alt="{$img_alt}">
				</div>
				<div class="col-lg-2">
					<br><br>
					<img src="{$basePath}/images/graphics/webarchiv-ico99x89-03.png" alt="{$img_alt}">
				</div>
			</div>

			<div class="row">
				<div class="col-lg-2 col-lg-offset-2">
					<p>88 x 31px</p>
					<br>
					<img src="{$basePath}/images/graphics/webarchiv-ico88x31-01.png" alt="{$img_alt}">
				</div>
				<div class="col-lg-2">
					<br><br>
					<img src="{$basePath}/images/graphics/webarchiv-ico88x31-02.png" alt="{$img_alt}">
				</div>
				<div class="col-lg-2">
					<br><br>
					<img src="{$basePath}/images/graphics/webarchiv-ico88x31-03.png" alt="{$img_alt}">
				</div>
			</div>

			<div class="row">
				<div class="col-lg-2">
					<p>{if $lang == 'cs'}starší verze<br>certifikátu{else}old version of<br>certificate{/if}</p>
				</div>
				<div class="col-lg-4">
					<br><br>
					<img src="{$basePath}/images/webarchiv_certifikat_c.gif" alt="{$img_alt}">
					<br>
					{if $lang == 'cs'}
						<br><a onclick="return !window.open(this, 'kod', 'toolbar=no, menubar=no, directories=no, resizable=yes, status=no, width=600, height=210, top=200, left=50')" href="{$basePath}/download/embed.php?img=http://webarchiv.cz/images/webarchiv_certifikat_c.gif">Zdrojový kód obrázku</a>
					{else}
						<br><a onclick="return !window.open(this, 'kod', 'toolbar=no, menubar=no, directories=no, resizable=yes, status=no, width=600, height=210, top=200, left=50')" href="{$basePath}/download/embed.php?img=http://webarchiv.cz/images/webarchiv_certifikat_c.gif">embed code</a>
					{/if}
				</div>
				<div class="col-lg-4">
					<br><br>
					<img src="{$basePath}/images/webarchiv_certifikat_cb.gif" alt="{$img_alt}">
					<br>
					{if $lang == 'cs'}
						<br><a onclick="return !window.open(this, 'kod', 'toolbar=no, menubar=no, directories=no, resizable=yes, status=no, width=600, height=210, top=200, left=50')" href="{$basePath}/download/embed.php?img=http://webarchiv.cz/images/webarchiv_certifikat_cb.gif">Zdrojový kód obrázku</a>
					{else}
						<br><a onclick="return !window.open(this, 'kod', 'toolbar=no, menubar=no, directories=no, resizable=yes, status=no, width=600, height=210, top=200, left=50')" href="{$basePath}/download/embed.php?img=http://webarchiv.cz/images/webarchiv_certifikat_cb.gif">embed code</a>
					{/if}
				</div>
			</div>

			<br><br>

		</div>
	</section>

{/block}
