{block title}{if $lang == 'cs'}Celoplošné sklizně{else}Comprehensive Harvests{/if} | {include #parent}{/block}

{block menuItemActive2} class="active"{/block}

{block content}

	{include ../commonParts/about.latte}

	<section>
		<div class="container">

			{if $lang == 'cs'}

				<h2>Celoplošné sklizně</h2>
				<p>Cílem tohoto přístupu je archivace co největšího počtu domácích webových zdrojů na základě parametrů definovaných v aplikovaném SW, tedy vyžadující minimum další intelektuální práce.</p>

				<ul class="normal">
					<li><strong>Doména</strong> – jediným všeobecným doporučením pro plošnou archivaci domácích webových zdrojů je národní doména (národní webový prostor .cz). Zdroje umístěné mimo národní doménu mohou být také archivovány, avšak musí bezpodmínečně splňovat další výběrová kritéria.</li>
				</ul>

				<p>Ostatní aspekty (Formát, Přístup, Počet souborů) jsou volitelné, záleží na technickém vybavení a dalších možnostech.</p>

				<ul class="normal">
					<li><strong>Formát</strong> – automaticky jsou stahovány takové formáty, jaké dokáže aplikovaný harvester stáhnout. Na základě dostupné paměťové kapacity a dalších faktorů lze nastavit limity pro různé typy souborů, kategorie typů souborů, velikosti souborů apod.</li>
					<li><strong>Přístup</strong> – záleží na stavu platné legislativy (autorské právo, povinný výtisk) nebo na vyjednávání s vydavateli (jejich vstřícnost poskytnout přístup ke svým zdrojům), archivovány jsou volně přístupné zdroje</li>
					<li><strong>Počet souborů</strong> – pro většinu zdrojů je doporučeno stahovat maximálně 5000 souborů z jedné domény.</li>
				</ul>

				<table class="in-text">
					<tr>
						<th>Sklizeň:</th>
						<th>Začátek:</th>
						<th>Počet souborů:</th>
						<th>Rozsah (MB):</th>
					</tr>
					<tr>
						<td>CZ 2001</td>
						<td>září 2001</td>
						<td>3 017 058</td>
						<td>106 520</td>
					</tr>
					<tr>
						<td>CZ 2002</td>
						<td>duben 2002</td>
						<td>10 272 093</td>
						<td>315 756</td>
					</tr>
					<tr>
						<td>CZ 2004</td>
						<td>březen 2004</td>
						<td>32 161 396</td>
						<td>1 058 305</td>
					</tr>
					<tr>
						<td>CZ 2005</td>
						<td>červen 2005</td>
						<td>9 336 123</td>
						<td>253 785</td>
					</tr>
					<tr>
						<td>CZ 2006</td>
						<td>srpen 2006</td>
						<td>70 741 016</td>
						<td>3 465 016</td>
					</tr>
					<tr>
						<td>CZ 2007</td>
						<td>listopad 2007</td>
						<td>81 300 000</td>
						<td>3 600 000</td>
					</tr>
					<tr>
						<td>CZ 2008</td>
						<td>listopad 2008</td>
						<td>78 203 483</td>
						<td>3 900 000</td>
					</tr>
					<tr>
						<td>CZ 2009</td>
						<td>listopad 2009</td>
						<td>178 342 230</td>
						<td>6 600 654</td>
					</tr>
					<tr>
						<td>CZ 2010</td>
						<td>listopad 2010</td>
						<td>373 178 080</td>
						<td>9 720 367</td>
					</tr>
					<tr>
						<td>CZ 2011</td>
						<td>listopad 2011</td>
						<td>345 232 271</td>
						<td>10 914 568</td>
					</tr>
					<tr>
						<td>CZ 2014</td>
						<td>březen 2014</td>
						<td>151 329 351</td>
						<td>9 812 113</td>
					</tr>
					<tr>
						<td></td>
						<td>CELKEM:</td>
						<td>1 332 113 301</td>
						<td>49 747 084</td>
					</tr>

				</table>

			{else}

				<h2>Comprehensive Harvests</h2>
				<p>The main focus of comprehensive crawls is to automatically harvest the biggest number of Czech web resources. The requirements of comprehensive crawls are: </p>

				<ul class="normal">
					<li><strong>Domain</strong> – Czech domain (.cz) web resources are collected. Resources with other domains can be also harvested, but they have to meet the optional requirements:</li>
				</ul>

				<p>Other requirements are optional: </p>

				<ul class="normal">
					<li><strong>Format</strong> – harvesting different formats of resources depends on a technical settings of the harvester</li>
					<li><strong>Access</strong> – only freely accessible resources are harvested</li>
					<li><strong>Number of files</strong> – maximum 5000 files from one domain</li>
				</ul>

				<p>Statistics of comprehensive harvests of domestic web resources (domain .cz):</p>

				<table class="in-text">
					<tr>
						<th>Harvest:</th>
						<th>Start:</th>
						<th>Total records in collection:</th>
						<th>Size of collection (MB):</th>
					</tr>
					<tr>
						<td>CZ 2001</td>
						<td>September 2001</td>
						<td>3 017 058</td>
						<td>106 520</td>
					</tr>
					<tr>
						<td>CZ 2002</td>
						<td>April 2002</td>
						<td>10 272 093</td>
						<td>315 756</td>
					</tr>
					<tr>
						<td>CZ 2004</td>
						<td>March 2004</td>
						<td>32 161 396</td>
						<td>1 058 305</td>
					</tr>
					<tr>
						<td>CZ 2005</td>
						<td>June 2005</td>
						<td>9 336 123</td>
						<td>253 785</td>
					</tr>
					<tr>
						<td>CZ 2006</td>
						<td>August 2006</td>
						<td>70 741 016</td>
						<td>3 465 016</td>
					</tr>
					<tr>
						<td>CZ 2007</td>
						<td>November 2007</td>
						<td>81 300 000</td>
						<td>3 600 000</td>
					</tr>
					<tr>
						<td>CZ 2008</td>
						<td>November 2008</td>
						<td>78 203 483</td>
						<td>3 900 000</td>
					</tr>
					<tr>
						<td>CZ 2009</td>
						<td>November 2009</td>
						<td>178 342 230</td>
						<td>6 600 654</td>
					</tr>
					<tr>
						<td>CZ 2010</td>
						<td>November 2010</td>
						<td>373 178 080</td>
						<td>9 720 367</td>
					</tr>
					<tr>
						<td>CZ 2011</td>
						<td>November 2011</td>
						<td>345 232 271</td>
						<td>10 914 568</td>
					</tr>
					<tr>
						<td>CZ 2014</td>
						<td>March 2014</td>
						<td>151 329 351</td>
						<td>9 812 113</td>
					</tr>
					<tr>
						<td></td>
						<td>TOTAL:</td>
						<td>1 332 113 301</td>
						<td>49 747 084</td>
					</tr>

				</table>


			{/if}

		</div>
	</section>

{/block}
