{% extends "base_www.html" %}

{% block title %}{% if lang == "cs" %}Výsledky vyhledávání{% else %}Search results{% endif %} {{ query }}{% endblock title %}


{% block content %}
	<section id="search">
		<div class="container">


			{% if sources %}

			<h1>{{ query }}</h1>

{#			<a href="{link advancedSearch}">{% if lang == "cs" %}pokročilé vyhledávání{% else %}advanced search{% endif %}</a>#}

			<div id="advanced-search">
				{include ../commonParts/advancedSearch.latte}
			</div>

				<p class="results-info">
					{% if lang == "cs" %}celkem: {{ results.paginator.count }} výsledků{% else %}total: {{ results.paginator.count }} results{% endif %},
						{% if lang == "cs" %}zobrazeno{% else %}showing{% endif %}: {{ results.number }} / {{ results.paginator.num_pages }}
						{% if lang == "cs" %}stran{% else %}pages{% endif %}
				</p>

				{% endif %}
				{% if sources %}
				<br><br>
				<p class="italic">
					{% if lang == "cs" %}
						Přístup k archivovaným stránkám je v rámci internetu omezen pouze na zdroje, ke kterým jsme od autorů získali smlouvu. Pro ostatní zdroje jsou dostupné pouze informace o počtu sklizených verzí. Na terminálu v <a href="{% url "www:about_contact" %}"">Klementinu</a> je pak Webarchiv dostupný bez omezení. Tyto možnosti jsou dány současnou legislativou.</p>
					{% else %}
						Due to copyright restrictions, only a limited number of archived websites for which agreements were signed with the publishers is available online. For other resources you can find out whether a given website was archived and the number of harvested versions. Unlimited access to all resources in Webarchiv is available from public terminals in the <a href="{% url "www:about_contact" %}"">National Library</a>.
					{% endif %}
				</p>
			{% endif %}

		</div>
	</section>


	{% if single_source %}
		<section id="catalog-items">
			<div class="container">
				<hr>
				<br>
					<div class="row">
						{% include "includes/source_full.html" with source=single_source %}
					</div>
			</div>
			</section>
	{% elif sources %}
		<section id="catalog-items">
				<div class="container">

					<hr>
					<br>
					
					{% ifequal request.session.list_type "visual"  %}
						{% include "includes/resource_list_visual.html" with paginator=results %}
					{% else %}
						{% include "includes/resource_list_text.html" with paginator=results %}
					{% endifequal %}

					</div>
			</section>
	{% else %}
		<section id="no-results">
			<div class="container">

				<br><br>

				{% if lang == "cs" %}
					<p>Bohužel se nám nepodařilo najít zadané slovní spojení.</p>
					<p>Můžete ho zkusit upravit nebo <a href="{plink advanced-search}">hledat podle adresy</a>.</p>

				{% else %}
					<p>Your search did not match any documents.</p>
					<p>You can try different keywords or <a href="{plink advanced-search}">search by URL</a>.</p>
				{% endif %}

			</div>
		</section>

	{% endif %}



{% endblock %}
