Dobrý den,<br>
děkujeme za návrh zdroje k archivaci. Všechny návrhy musí projít schválením kurátorů a vydavatele a následně může dojít k archivaci zdroje.
<br>
Rádi uvítáme i vaše další návrhy a doporučení na zařazení dalších kvalitních webových stránek do Webarchivu. Pokud o takových stránkách víte, pošlete nám prosím upozornění e-mailem nebo prostřednictvím webového formuláře: http://webarchiv.cz/sc/pridat-web.
<br>
Další informace naleznete také na naší Facebookové stránce https://facebook.com/webarchivcz/
<br>
Přejeme pohodový den,<br>
<br>
Váš Webarchiv
<br><br>
Oddělení archivace webu <br>
Národní knihovna České republiky <br>
Klementinum 190, Praha 1 <br>
www.webarchiv.cz | www.nkp.cz <br>
www.facebook.com/webarchivcz <br>
E-mail: webarchiv@nkp.cz <br>
Budova: CD Hostivař, Místnost: 425 <br>
