
.login-box {
    width: 30%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

.errorlist li {
    list-style-type: none;
}