#menu {
    width: 15%;
    min-width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #191818;
    overflow-y: auto;
}

#menu a {
    color: #999;
}

#menu .pure-menu-selected a {
    background: #1f8dd6;
    color: white;
}

#menu .pure-menu-heading {
    color: white;
    text-transform: none;
    font-size: 130%;
}

#menu .bottom {
    width: 10%;
    position: fixed;
    left: 0;
    bottom: 30px;
}


#layout #main {
    position: fixed;
    left: 17%;
}

#search {
    position: absolute;
    right: 10px;
    margin: 10px;
}

#search #search-bar {
    width: 100%;
}