#menu {
    width: 15%;
    min-width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #191818;
    overflow-y: auto;
}



#menu a {
    color: #999;
}

#menu .pure-menu-selected a {
    background: #1f8dd6;
    color: white;
}

#menu .pure-menu-heading {
    color: white;
    text-transform: none;
    font-size: 130%;
}

#menu .bottom {
    width: 10%;
    position: fixed;
    left: 0;
    bottom: 30px;
}


#layout #main {
    position: fixed;
    left: 17%;
    width: 100%;
}


#layout #source-part {
    width: 30%;
}


#layout #seed-part {
    position: absolute;
    right: 10%;
    top: 15%;
    width: 50%;
}

#layout #seed-part input {
    width: 40%;
}




#search {
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 10px;
}

#search #search-bar {
    width: 100%;
}


.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-hint {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #dfdfdf;
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}