{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block extrahead %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% endblock %}


{% block content %}
    <form class="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Send' %}" />
    </form>
{% endblock %}